{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="row mb-5">
        <div class="col-6 d-flex justify-content-between">
            <h3>Download</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100" href="{% url 'download-mldata' %}">
                Machine-Learning Data
            </a>
        </div>
        <div class="col-md-6"></div>
    </div>


{% endblock %}
