{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'download-list' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'download-list' %}">
                    Download
                </a>
            </li>
            <li class="breadcrumb-item active">Machine-Learning Data</li>
        </ol>
    </nav>

    <div class="row mt-5 mb-3">
        <div class="col-6">
            <h3>Machine-Learning Data</h3>
        </div>
    </div>

    <h5 class="mb-3">Download</h5>

    <div class="alert alert-secondary" role="alert">
        Currently two types of models for annotating images
        are in place on our platform:
        <ul>
            <li class="my-3">
                bee detection models:
                <ul>
                    <li>
                        <a href="{{ large_bee_model_url }}">large</a>
                    </li>
                    <li>
                        <a href="{{ medium_bee_model_url }}">medium</a>
                    </li>
                </ul>
                Models were trained on two image sizes: medium (416) and large
                (608).
                The model size is the same (~250MB). Smaller models are faster.
            </li>
            <li>
                pollen detection models:
                <ul>
                    <li>
                        <a href="{{ large_pollen_model_url }}">large</a>
                    </li>
                    <li>
                        <a href="{{ tiny_pollen_model_url }}">tiny</a>
                    </li>
                </ul>
                Both models were trained on the same image size (224).
                The model size is 244MB for the large one and 22MB for the
                tiny one. The tiny one is worse, but reaches ~10x the framerate
                of the large one.
            </li>
        </ul>
        For the images and the annotations, we provide a daily snapshot in
        the Pascal VOC format:
        <p class="mt-2">
            {% if latest_snapshot_url %}
                <a href="{{ latest_snapshot_url }}">{{ archive_name }}</a>
            {% else %}
                Currently not available
            {% endif %}
        </p>

    </div>

    <h5 class="mt-4">Statistics</h5>

    <table class="table table-responsive">
        <tbody>
        <tr>
            <td>Total image count:</td>
            <td>{{ total_image_count }}</td>
        </tr>
        <tr>
            <td>Bee image count:</td>
            <td>{{ bee_image_count }}</td>
        </tr>
        <tr>
            <td>Pollen image count:</td>
            <td>{{ pollen_image_count }}</td>
        </tr>
        <tr>
            <td>Bee annotation count:</td>
            <td>{{ bee_annotation_count }}</td>
        </tr>
        <tr>
            <td>Pollen annotation count:</td>
            <td>{{ pollen_annotation_count }}</td>
        </tr>
        </tbody>
    </table>



{% endblock %}
