<div class="row">
    <div class="col-xxl-12 scrollbar">
        <table class="table">

            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Creator</th>
                <th scope="col">Name</th>
                <th scope="col">Hives</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            {% for apiary in apiaries %}
                <tr>
                    <td>
                        {{ apiary.pk }}
                    </td>
                    <td>{{ apiary.creator }}</td>
                    <td>{{ apiary.name }}
                        {% url 'apiary-detail' apiary.pk as apiary_detail_url %}
                        {% include 'base/show_button.html' with url=apiary_detail_url %}
                    </td>
                    <td>
                        <table class="table">
                            <tbody>
                            {% for hive in apiary.hive_set.all %}
                                <tr>
                                    <td>
                                        {{ hive.name }}
                                        {% url 'beehive-detail' hive.pk as hive_detail_url %}
                                        {% include 'base/show_button.html' with url=hive_detail_url %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
