{% extends 'base/base.html' %}

{% block head %}
    {{ apiary_form.media }}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' apiary.pk %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' apiary.pk %}">
                    {{ apiary.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">Update</li>
        </ol>
    </nav>

    <h2 class="my-5">Update {{ apiary.name }}</h2>

    {% url 'apiary-detail' apiary.pk as apiary_detail_url %}
    {#    {% include 'base/back_button.html' with url=apiary_detail_url %}#}

    <form class="mb-5" method="post">{% csrf_token %}
        <table class="table">
            {{ apiary_form.as_table }}
        </table>
        <input class="btn btn-primary mt-4" type="submit" value="Update">
    </form>

    <hr>

    <div class="row mt-5">
        <div class="col-xxl-6">
            <h4>Add managers</h4>
            <form class="mb-5" method="post"
                  action="{% url 'apiary-addManager' apiary.pk %}">{% csrf_token %}
                <table class="table">
                    {{ add_manager_form.as_table }}
                </table>
                <input class="btn btn-primary mt-4" type="submit"
                       value="Add manger">
            </form>
        </div>
        <div class="col-xxl-6">
            <h4>Managers</h4>
            <table class="table">
                {% for manager in managers %}
                    <tr>
                        <td>{{ manager.first_name }} {{ manager.last_name }}: {{ manager.email }}</td>
                        <td>
                            <a href="{% url 'apiary-deleteManager' apiary.pk manager.pk %}">
                                <button class="btn btn-danger btn-sm">Remove
                                    manager
                                </button>
                            </a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
