{% extends 'base/base.html' %}

{% block head %}
    {{ apiary_form.media }}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Add apiary</li>
        </ol>
    </nav>

    <h2 class="my-5">
        Add apiary
    </h2>

    <form method="post">{% csrf_token %}
        <table class="table">
            {{ apiary_form.as_table }}
        </table>
        <input class="btn btn-primary mt-4" type="submit" value="Save">
    </form>
{% endblock %}
