{% extends 'base/base.html' %}
{% load l10n %}
{% load i18n %}

{% block head %}
    {% load leaflet_tags %}
    {% leaflet_css %}
    {% leaflet_js %}
{% endblock %}


{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-list' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item active">{{ apiary.name }}</li>
        </ol>
    </nav>

    <h1 class="my-5">{% trans 'Apiary' %} <span
            class="display-4 ml-5">{{ apiary.name }}</span></h1>

    <div class="row gy-2">

        <div class="col-xxl-6">

            <div class="d-flex justify-content-between">
                <h4 class="mb-5">{% trans 'Metadata' %}</h4>
                <a class="btn btn-primary mb-5"
                   href="{% url 'apiary-update' apiary.pk %}">
                    {% trans 'Edit' %}
                </a>
            </div>

            <table class="table table-hover table-responsive">
                <tbody>
                <tr>
                    <th scope="row">ID:</th>
                    <td>{{ apiary.pk }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Creator' %}:</th>
                    <td>{{ apiary.creator }}</td>
                </tr>
                <tr>
                    <th scope="row">Name:</th>
                    <td>{{ apiary.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Location' %}:</th>
                    <td>{{ apiary.location.y }}; {{ apiary.location.x }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Address' %}:</th>
                    <td>{{ apiary.address }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Elevation' %}:</th>
                    <td>{{ apiary.elevation }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Managers' %}:</th>
                    <td>
                        <table class="table-borderless">
                            {% for manager in managers %}
                                <tr>
                                    <td>{{ manager.first_name }} {{ manager.last_name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row mt-5">
                <div class="col-xxl-12">
                    {% leaflet_map "main" callback="map_init" %}

                    <script type="text/javascript">
                        function map_init(map, options) {
                            const lon = "{{ apiary.location.x|unlocalize }}";
                            const lat = "{{ apiary.location.y|unlocalize }}";

                            // zoom to point & add it to map
                            map.setView([lat, lon], 15);
                            L.marker([lat, lon]).addTo(map);
                        }
                    </script>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-3">
                    <a class="btn btn-danger mb-5"
                       href="{% url 'apiary-delete' apiary.pk %}">
                        {% trans 'Delete apiary' %}
                    </a>
                </div>
            </div>


        </div>

        <div class="col-xxl-2"></div>

        <div class="col-xxl-4">
            <div class="d-flex justify-content-between">
                <h4 class="mb-3">{% trans 'Beehives' %}</h4>
                <a class="btn btn-primary mb-3"
                   href="{% url 'beehive-create' apiary.pk %}">
                    {% trans 'Add beehive' %}
                </a>
            </div>

            <table class="table mb-5">
                {% for hive in apiary.hive_set.all %}
                    {% url 'beehive-detail' hive.pk as hive_detail_url %}
                    <tr>
                        <td>#{{ hive.pk }}</td>
                        <td>{{ hive.name }}</td>
                        <td>
                            {% include 'base/show_button.html' with url=hive_detail_url %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <hr class="mb-5">

            <div class="d-flex justify-content-between">
                <h4 class="mb-3">{% trans 'Weather data' %}</h4>
                <a class="btn btn-primary mb-3"
                   href="{% url 'apiary-weather-measurement-list' apiary.pk %}">
                    {% trans 'More' %}
                </a>
            </div>

            {% if weather_station %}
            <b>{{ weather_station.name }}
                ({{ weather_station.location.y }}, {{ weather_station.location.x }})</b>
            {% endif %}

            <table class="table mb-5 mt-3">
                {% for measurement in weather_measurements %}
                    <tr>
                        <td>{{ measurement.time }}</td>
                        <td>{{ measurement.parameter }}</td>
                        <td>{{ measurement.value }} {{ measurement.parameter.unit }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

{% endblock %}
