{% extends 'base/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Apiaries</li>
        </ol>
    </nav>

    <h3 class="my-5">Apiaries</h3>

    {% include 'main/apiary/apiary_list_content.html' %}

{% endblock %}