{% load emoji %}
{% load i18n %}
<div class="d-flex justify-content-between">
    <h4 class="mb-5">{% translate 'Your profile' %}</h4>
    <div>
        <a href="{% url 'user-update' user.pk %}"
           class="btn btn-primary">
            {% translate 'Edit' %}
        </a>
    </div>
</div>

<h6>{% translate 'General' %}</h6>
<table class="table table-responsive table-hover mb-5">
    <tr>
        <th class="w-50">{% translate 'Username' %}:</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>{% translate 'First name' %}:</th>
        <td>{{ user.first_name|default:"None" }}</td>
    </tr>
    <tr>
        <th>{% translate 'Last name' %}:</th>
        <td>{{ user.last_name|default:"None" }}</td>
    </tr>
    <tr>
        <th>{% translate 'Date joined' %}:</th>
        <td>{{ user.date_joined }}</td>
    </tr>

</table>

<h6>{% translate 'Status' %}</h6>

<table class="table table-responsive table-hover mb-5">
    <tr>
        <th class="w-50">{% translate 'Active' %}:</th>
        <td>{{ user.is_active|bool_emoji }}</td>
    </tr>
    <tr>
        <th class="w-50">{% translate 'Staff' %}:</th>
        <td>{{ user.is_staff|bool_emoji }}</td>
    </tr>
    <tr>
        <th>{% translate 'Role(s)' %}:</th>
        <td>
            <table class="table-borderless">
                {% for group in user.groups.all %}
                    <tr>
                        <td>{{ group.name }}</td>
                    </tr>
                {% endfor %}
                {% if user.is_staff %}
                    <tr>
                        <td>Admin</td>
                    </tr>
                {% endif %}
            </table>
        </td>
    </tr>
</table>

<h6>{% translate 'Contact' %}</h6>

<table class="table table-responsive table-hover">
    <tr>
        <th class="w-50">{% translate 'Email' %}:</th>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <th>{% translate 'Phone' %}:</th>
        <td>
            {{ user.phone|default:'-' }}
        </td>
    </tr>
    <tr>
        <th>{% translate 'Address' %}:</th>
        <td>
            <table class="table-borderless">
                <tr>
                    <td>
                        {% if user.street %}
                        {{ user.street }} {{ user.number }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    {% if user.city %}
                    <td>{{ user.zip }} {{ user.city }}</td>
                    {% else %}
                        {% translate 'None' %}
                    {% endif %}
                </tr>
            </table>
        </td>
    </tr>

</table>