{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">{% translate 'Update profile' %}</li>
        </ol>
    </nav>

    <h2 class="my-5">
        {% translate 'Update profile' %}
    </h2>

    <div class="row">
        <div class="col-xxl-6">
            <form method="post">{% csrf_token %}
                <table class="table">
                    {{ user_form.as_table }}
                </table>
                <input class="btn btn-primary mt-4" type="submit" value="{% translate 'Update' %}">
            </form>
        </div>
    </div>
{% endblock %}
