{% extends 'base/base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-6">
            <h3 class="mb-5">{{ title|default:"Create hive sensor" }}</h3>

            <form method="post">{% csrf_token %}
                <table class="table table-responsive">
                    <tbody>
                    {{ hive_sensor_form.as_table }}
                    </tbody>
                </table>
                <input class="btn btn-primary" type="submit"
                       value="{{ submit|default:"Create hive sensor" }}">
            </form>
        </div>
    </div>

    <script>
        // date/time picker for valid from/until
        flatpickr("#id_valid_from", {enableTime: true, dateFormat: "Y-m-d H:i",});
        flatpickr("#id_valid_until", {enableTime: true, dateFormat: "Y-m-d H:i",});
    </script>

{% endblock %}
