{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"
            integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/graph.css' %}">
{% endblock %}

{% block content %}
    {% url 'hive-sensor-device-detail' hive_sensor.device.pk as hive_sensor_device_detail_url %}
    {% include 'base/back_button.html' with url=hive_sensor_device_detail_url %}

    <div class="row g-5 mb-5">
        <div class="col-xxl-7">
            <div class="d-flex justify-content-between">
                <h3 class="mb-5">Hive Sensor #{{ hive_sensor.pk }}</h3>
                <div>
                    <a href="{% url 'hive-sensor-delete' hive_sensor.pk %}"
                       class="btn btn-danger">
                        Delete sensor
                    </a>
                </div>
                <div>
                    <a href="{% url 'hive-sensor-update' hive_sensor.pk %}"
                       class="btn btn-primary">
                        Edit
                    </a>
                </div>
            </div>

            <table class="table table-responsive mb-5">
                <tr>
                    <th>Hive:</th>
                    <td>
                        <a href="{% url 'beehive-detail' hive_sensor.device.hive.pk %}">
                            {{ hive_sensor.device.hive.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Device:</th>
                    <td>
                        <a href="{% url 'hive-sensor-device-detail' hive_sensor.device.pk %}">
                            {{ hive_sensor.device.brand }}: {{ hive_sensor.device.model }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Sensor type:</th>
                    <td>{{ hive_sensor.sensor_type.name }}</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>{{ hive_sensor.description }}</td>
                </tr>
                <tr>
                    <th>Valid from:</th>
                    <td>{{ hive_sensor.valid_from|default_if_none:"infinity" }}</td>
                </tr>
                <tr>
                    <th>Valid until:</th>
                    <td>{{ hive_sensor.valid_until|default_if_none:"infinity" }}</td>
                </tr>
            </table>

            {% url 'hive-sensor-measurements-api' pk=hive_sensor.pk as sensor_measurements_url %}
            {% include 'main/sensor/sensor_multiline_chart.html' with url=sensor_measurements_url %}
        </div>

        <div class="col-xxl-1"></div>

        <div class="col-xxl-4">
            <div class="d-flex justify-content-between">
                <h3 class="mb-5">Measurement</h3>
                <div>
                    <a href="{% url 'sensor-measurement-create' hive_sensor.pk %}"
                       class="btn btn-primary">
                        Add measurement
                    </a>
                </div>
            </div>

            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for measurement in sensor_measurements %}
                    <tr>
                        <td>{{ measurement.time }}</td>
                        <td>{{ measurement.value }} {{ measurement.sensor.sensor_type.unit }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}