{% extends 'base/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-6">
            <h3 class="mb-5">Upload sensor data</h3>

            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <table class="table table-responsive">
                    <tbody>
                    {{ upload_form.as_table }}
                    </tbody>
                </table>
                <input class="btn btn-primary" type="submit"
                       value="Upload">
            </form>
        </div>
    </div>
{% endblock %}
