{% extends 'base/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-6">
            <h3 class="mb-5">{{ title|default:"Create hive sensor device" }}</h3>

            <form method="post">{% csrf_token %}
                <table class="table table-responsive">
                    <tbody>
                    {{ hive_sensor_device_form.as_table }}
                    </tbody>
                </table>
                <input class="btn btn-primary" type="submit"
                       value="{{ submit|default:"Create hive sensor device" }}">
            </form>
        </div>
    </div>

    <script>
        // brand selection
        let brand_input = document.getElementById('id_brand');
        let brand_row = brand_input.parentElement.parentElement
        brand_row.setAttribute('hidden', true);

        const selectElement = document.getElementById('id_brand_choices');

        if (selectElement.selectedOptions[0].value === 'custom'){
            brand_row.removeAttribute('hidden');
        }

        selectElement.addEventListener('change', (event) => {
            let selectedBrand = event.target.value;
            if (selectedBrand === 'custom') {
                brand_input.setAttribute('value', '');
                brand_row.removeAttribute('hidden');
            }
            else {
                brand_row.setAttribute('hidden', true);
                brand_input.setAttribute('value', '');
            }
        });
    </script>

{% endblock %}
