<div class="row">
    <div class="col">
        <svg id="graph"></svg>

        <script>
            function create_graph() {
                // parse data
                let data = JSON.parse(xhr.responseText);

                if (data.length < 5){
                    return;
                }

                data.forEach(d => {
                    d.time = new Date(d.time);
                    d.value = +d.value;
                });

                const lineName = d => `${d.source}: ${d.param}`;

                var nested = d3.nest()
                    .key(lineName)
                    .entries(data);

                // dimensions of svg
                const totalWidth = 960;
                const totalHeight = 500;

                // margin of graph
                const margin = {
                    top: 40,
                    right: 80,
                    bottom: 30,
                    left: 40
                };

                // dimensions of graph
                const width = +totalWidth - margin.left - margin.right;
                const height = +totalHeight - margin.top - margin.bottom;

                let svg = d3.select("#graph")
                    .attr("viewBox", `0 0 ${totalWidth} ${totalHeight}`);

                const xValue = d => d.time;
                const yValue = d => d.value;

                const xScale = d3.scaleTime()
                    .domain(d3.extent(data, xValue))
                    .range([0, width]);

                const yScale = d3.scaleLinear()
                    .domain(d3.extent(data, yValue))
                    .range([height, 0]);

                const lineGenerator = d3.line()
                    .x(d => xScale(xValue(d)))
                    .y(d => yScale(yValue(d)));

                const g = svg.append("g")
                    .attr("transform", `translate(${margin.left}, ${margin.top})`);

                const title = g.append('text')
                    .attr('y', -20)
                    .attr('x', -5);

                // x axis
                const xAxis = d3.axisBottom(xScale)
                    .tickSize(-height);

                g.append("g")
                    .attr("class", "axis axis--x")
                    .attr("transform", `translate(0, ${height})`)
                    .call(xAxis);

                // y axis
                const yAxis = d3.axisLeft(yScale)
                    .tickSize(-width);

                const yLabel = "Sensor value"
                g.append("g")
                    .attr("class", "axis axis--y")
                    .call(yAxis)
                    .append("text")
                    .attr("class", "axis-title")
                    .attr("text-anchor", "middle")
                    .attr("transform", "rotate(-90)")
                    .attr("y", -35)
                    .attr("dy", ".71em")
                    .attr("x", -height / 2)
                    .attr("fill", "#5D6971")
                    .text(yLabel);

                const colorScale = d3.scaleOrdinal(d3.schemeCategory10);
                colorScale.domain(nested.map(d => d.key));

                g.selectAll(".line").data(nested)
                    .enter().append("path")
                    .attr("class", "line")
                    .attr("stroke-linecap", "round")
                    .attr("d", d => lineGenerator(d.values))
                    .attr('stroke', d => colorScale(d.key));

                // tooltip
                var focus = g.append("g")
                    .attr("class", "focus")
                    .style("display", "none");

                // vertical line from data point
                focus.append("line")
                    .attr("class", "x-hover-line hover-line")
                    .attr("y1", 0)
                    .attr("y2", height);

                focus.append("line")
                    .attr("class", "y-hover-line hover-line")
                    .attr("x1", width)
                    .attr("x2", width);

                // circle at data point
                focus.append("circle")
                    .attr("r", 5);

                // text for data point
                focus.append("text")
                    .attr("x", 15)
                    .attr("dy", ".31em")
                    .attr("fill", "steelblue")

                // overlay over graph
                svg.append("rect")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                    .attr("class", "overlay")
                    .attr("width", width)
                    .attr("height", height)
                    .on("mouseover", function () {
                        focus.style("display", null);
                    })
                    .on("mouseout", function () {
                        focus.style("display", "none");
                        title.text('');
                    })
                    .on("mousemove", mousemove);

                const bisectTime = d3.bisector(d => xValue(d)).left;
                const bisectValue = d3.bisector(d => yValue(d)).left;

                const formatValue = d3.format(".1f");

                function mousemove() {
                    // screen pixel position of mouse
                    let mousePosition = d3.mouse(this);

                    const screenX = mousePosition[0];
                    // invert: (range -> domain) get data point value (=time) from screen pixel position
                    const x0 = xScale.invert(screenX);

                    // get index of data point value in the data array
                    const xIndex = bisectTime(data, x0, 1)
                    const dataX0 = data[xIndex - 1]
                    const dataX1 = data[xIndex]
                    const dataX = x0 - dataX0.time > dataX1.time - x0 ? dataX1 : dataX0;

                    const lineCount = nested.length

                    // get all measurements with the same time
                    let dataRange;
                    if (dataX === dataX0) {
                        dataRange = data.slice(xIndex - lineCount, xIndex);
                    } else {
                        dataRange = data.slice(xIndex, xIndex + lineCount)
                    }

                    // find the measurement for the correct line
                    dataRange.sort((a, b) => a.value - b.value);
                    const screenY = mousePosition[1];
                    // invert: (range -> domain) get data point value (=line value) from screen pixel position
                    const y0 = yScale.invert(screenY);

                    const yIndex = bisectValue(dataRange, y0, 1);
                    const dataY0 = dataRange[yIndex - 1]
                    const dataY1 = dataRange[yIndex]

                    let dataY;
                    if (dataY1 == null) {
                        dataY = dataY0
                    } else {
                        dataY = y0 - dataY0.value > dataY1.value - y0 ? dataY1 : dataY0;
                    }

                    const dataPoint = dataY;

                    let titleName = lineName(dataPoint)
                    let color = colorScale(titleName);

                    focus.attr("transform", "translate(" + xScale(dataPoint.time) + "," + yScale(dataPoint.value) + ")");
                    focus.select("text")
                        .text(function () {
                            return `${formatValue(dataPoint.value)} ${dataPoint.unit}`;
                        })
                        .attr('fill', color);

                    focus.select("circle").attr('stroke', color);

                    focus.select(".x-hover-line")
                        .attr('stroke', color)
                        .attr("y2", height - yScale(dataPoint.value));
                    focus.select(".y-hover-line")
                        .attr('stroke', color)
                        .attr("x2", width + width);

                    title
                        .text(titleName)
                        .attr('fill', color);
                }
            }

            var xhr = new XMLHttpRequest();
            xhr.open("GET", "{{ url }}", true);
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        create_graph();
                    } else {
                        console.error(xhr.statusText);
                    }
                }
            };
            xhr.onerror = function (e) {
                console.error(xhr.statusText);
            };
            xhr.send(null);
        </script>
    </div>
</div>