{% extends 'base/base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block content %}
    {% url 'hive-sensor-detail' sensor.pk as sensor_detail_url %}
    {% include 'base/back_button.html' with url=sensor_detail_url %}

    <div class="row">

        <div class="col-xl-6">
            <h3 class="mb-5">Add measurement for sensor</h3>

            <table class="table table-responsive table-hover mb-5">
                <tbody>
                    <tr>
                        <th>Brand</th>
                        <td>{{ sensor.device.brand }}</td>
                    </tr>
                    <tr>
                        <th>Model</th>
                        <td>{{ sensor.device.model }}</td>
                    </tr>
                    <tr>
                        <th>Parameter</th>
                        <td>{{ sensor.sensor_type.name }} in {{ sensor.sensor_type.unit }}</td>
                    </tr>
                </tbody>
            </table>

            <form method="post">{% csrf_token %}
                <table class="table table-responsive">
                    {{ sensor_measurement_form.as_table }}
                </table>
                <input class="btn btn-primary" type="submit"
                       value="Add">
            </form>
        </div>
    </div>

    <script>
        flatpickr("#id_time", {enableTime: true, dateFormat: "Y-m-d H:i",});
    </script>

{% endblock %}
