{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"
            integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/graph.css' %}">
{% endblock %}

{% block content %}
    {% include 'base/back_button.html' with url=device_list_url %}

    <h2 class="mb-5">Sensor device #{{ device.pk }}</h2>

    <div class="row mb-3">
        <div class="col-xxl-5">
            <div class="row mb-3">
                <div class="col d-flex justify-content-between">
                    <h3>Metadata</h3>
                </div>
                <div>
                    <a class="btn btn-primary float-right"
                       href="{% url 'hive-sensor-device-update' device.pk %}">
                        Edit
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-hover table-responsive">
                        <tr>
                            <th>Hive:</th>
                            <td>
                                <a href="{% url 'beehive-detail' device.hive.pk %}">
                                    {{ device.hive.name }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Serial number:</th>
                            <td>{{ device.sn }}</td>
                        </tr>
                        <tr>
                            <th>Brand:</th>
                            <td>{{ device.brand }}</td>
                        </tr>
                        <tr>
                            <th>Model:</th>
                            <td>{{ device.model }}</td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            <td>{{ device.description|default:"None" }}</td>
                        </tr>
                        <tr>
                            <th>Link:</th>
                            <td class="line-break-anywhere">
                                <a href="{{ device.link }}">
                                    {{ device.link }}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-xxl-1"></div>

        <div class="col-xxl-6">
            <div class="row mb-3">
                <div class="col d-flex justify-content-between">
                    <h3>Sensors</h3>
                    <div>
                        <a class="btn btn-primary float-right"
                           href="{% url 'hive-sensor-device-bulk-upload' device.pk %}">
                            Sensor bulk upload
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-primary float-right"
                           href="{% url 'hive-sensor-create' device.pk %}">
                            Add sensor
                        </a>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col">
                    <table class="table table-responsive table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hive_sensor in hive_sensors %}
                            <tr>
                                <td>{{ hive_sensor.pk }}</td>
                                <td>{{ hive_sensor.sensor_type.name }}</td>
                                <td>
                                    {% url 'hive-sensor-detail' hive_sensor.pk as sensor_detail_url %}
                                    {% include 'base/show_button.html' with url=sensor_detail_url %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% if disabled_sensors %}

                <div class="row">
                    <div class="col text-secondary">
                        <hr>

                        <h5 class="mt-4">Disabled Sensors</h5>

                        <table class="table table-responsive table-hover text-secondary">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Disabled on</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for hive_sensor in disabled_sensors %}
                                <tr>
                                    <td>{{ hive_sensor.pk }}</td>
                                    <td>{{ hive_sensor.sensor_type.name }}</td>
                                    <td>{{ hive_sensor.valid_until }}</td>
                                    <td>
                                        <a href="{% url 'hive-sensor-detail' hive_sensor.pk %}">
                                            <svg class="text-secondary"
                                                 width="20"
                                                 height="20"
                                                 fill="currentColor">
                                                <use href="{% static 'img/svg/bootstrap-icons.svg' %}#arrow-right-square-fill"></use>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-xxl-10">
            {% url 'hive-sensor-device-measurements-api' device_pk=device.pk as sensor_measurements_url %}
            {% include 'main/sensor/sensor_multiline_chart.html' with url=sensor_measurements_url %}
        </div>
        <div class="col-xxl-1"></div>
    </div>


{% endblock %}
