{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% url 'beehive-detail' hive.pk as hive_detail_url %}
    {% include 'base/back_button.html' with url=hive_detail_url %}

    <div class="row mb-5">
        <div class="col-6 d-flex justify-content-between">
            <h3>Sensor devices for hive {{ hive.name }}</h3>
            <div>
                <a class="btn btn-primary float-right"
                   href="{% url 'hive-sensor-device-create' hive.pk %}">
                    Add sensor device
                </a>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-6">
            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Serial Number</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for device in hive_sensor_devices %}
                    <tr>
                        <td>{{ device.pk }}</td>
                        <td>{{ device.sn }}</td>
                        <td>{{ device.brand }}</td>
                        <td>{{ device.model }}</td>
                        <td>
                            {% url 'hive-sensor-device-detail' device.pk as device_detail_url %}
                            {% include 'base/show_button.html' with url=device_detail_url %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
