{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'environment-overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'environment-overview' %}">
                    Environment
                </a>
            </li>
            <li class="breadcrumb-item active">Sensors</li>
        </ol>
    </nav>

    <div class="row my-5">
        <div class="col-6 d-flex justify-content-between">
            <h3>Sensor Types</h3>
            <div>
                <a class="btn btn-primary float-right"
                   href="{% url 'sensor-type-create' %}">
                    Create sensor type
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for sensor_type in sensor_types %}
                    <tr>
                        <td>{{ sensor_type.pk }}</td>
                        <td>{{ sensor_type.name }}</td>
                        <td>{{ sensor_type.unit }}</td>
                        <td>{{ sensor_type.description }}</td>
                        <td>
                            {% url 'sensor-type-update' sensor_type.pk as sensor_type_update_url%}
                            {% include 'base/sm_edit_button.html' with url=sensor_type_update_url %}
                        </td>
                        <td>
                            {% url 'sensor-type-delete' sensor_type.pk as sensor_type_delete_url %}
                            {% include 'base/sm_delete_button.html' with url=sensor_type_delete_url %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
