{% extends 'base/base.html' %}

{% block content %}
    <h3 class="mb-5">Create sensor type</h3>

    <form method="post">{% csrf_token %}
        <table class="table table-responsive">
            <tbody>
            {{ sensor_type_form.as_table }}
            </tbody>
        </table>
        <input class="btn btn-primary" type="submit"
               value="Create sensor type">
    </form>
{% endblock %}
