<table class="table table-responsive">

    <thead>
    <tr>
        <th>#</th>
        <th>Creator:</th>
        <th>Description:</th>
        <th>Annotation type:</th>
        <th>Hive task</th>
        <th>Finished:</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for task in tasks %}
        <tr>
            <td>{{ task.pk }}</td>
            <td>{{ task.creator }}</td>
            <td>
                {{ task.description }}
            </td>
            <td>{{ task.annotation_type.name }}</td>
            <td>
                {% if task.is_hive_task %}
                    {{ task.hivetask_set.first.type }}
                {% else %}
                    No
                {% endif %}
            </td>
            <td>
                {% if task.finished %}
                    ✅
                {% else %}
                    ❌
                {% endif %}
            </td>
            <td>
                {% url 'task-detail' task.pk as task_detail_url %}
                {% include 'base/show_button.html' with url=task_detail_url %}
            </td>
            {% if request.user.is_staff %}
            <td>
                {% url 'task-delete' task.pk as task_delete_url %}
                {% include 'base/sm_delete_button.html' with url=task_delete_url %}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>

</table>