{% extends 'base/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ml-annotation' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                    Machine-Learning
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-annotation' %}">
                Annotation
                </a>
            </li>
            <li class="breadcrumb-item active">Tasks</li>
        </ol>
    </nav>

    <div class="row mt-3 g-5">
        <div class="col-xxl-12">
            <div class="d-flex justify-content-between">
                <h3 class="mb-3">Tasks</h3>
                <a class="btn btn-primary float-right mb-5"
                   href="{% url 'task-create' %}">Create task</a>
            </div>
            {% include 'main/management/tasks/admin_task_list_card.html' %}
        </div>
    </div>



{% endblock %}
