{% extends 'base/base.html' %}
{% load colorize %}

{% block content %}
    {% url 'management-task-list' as task_list_url %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'management-task-list' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                    Machine-Learning
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-annotation' %}">
                Annotation
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management-task-list' %}">
                Task list
                </a>
            </li>
            <li class="breadcrumb-item active">Task {{ task.pk }}</li>
        </ol>
    </nav>


    <h3 class="mb-3 mt-5">Task #{{ task.pk }}</h3>

    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Frame</th>
            <th>Video</th>
            <th>Hive</th>
            <th>Done</th>
            <th>Labeler</th>
        </tr>
        </thead>
        <tbody>
        {% for task_frame in task_frames %}
            <tr>
                <td>{{ task_frame.frame.pk }}</td>
                <td>
                    <a class="line-break-anywhere" href="{% url 'frame-detail' task_frame.frame.pk %}">
                        {{ task_frame.frame.name }}
                    </a>
                </td>
                <td>
                    {% if task_frame.frame.image_set %}

                        <a href="{% url 'video-detail' task_frame.frame.image_set.video.pk %}">
                            {{ task_frame.frame.image_set.video.path }}
                        </a>

                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'beehive-detail' task_frame.frame.beehive.pk %}">
                        {{ task_frame.frame.beehive }}
                    </a>
                </td>
                <td class="{% colorize_count task_frame.labeled_by.count 2 %}">
                    {{ task_frame.labeled_by.count }}/2
                </td>
                <td>
                    <table class="table table-borderless">
                        {% for user in task_frame.labeled_by %}
                            <tr>
                                <td>{{ user }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}