{% extends 'base/base.html' %}

{% block content %}
    {% url 'management-task-list' as task_list_url %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'management-task-list' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                    Machine-Learning
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-annotation' %}">
                Annotation
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management-task-list' %}">
                Tasks
                </a>
            </li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>

    <h3 class="my-5">Create Task</h3>

    <div class="row mb-4">
        <div class="col-xxl-6">
            <h3 class="lead mb-3">Specify task</h3>

            <span id="errorMsg" class="text-danger"
                  hidden>All fields required!</span>

            <form method="post" class="mb-5 mt-2">{% csrf_token %}
                <table class="table table-responsive">
                    {{ task_form.as_table }}
                    <tr>
                        <th>Selected images</th>
                        <td>
                            <table class="table table-hover table-responsive table-sm">
                                <tbody id="selected-images">
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </form>

            <button id="createTaskBtn" class="btn btn-primary">Create task
            </button>
        </div>
        <div class="col-xxl-6">
            <h3 class="lead mb-3">Filter the images</h3>

            <form class="mb-5">
                <table class="table table-responsive">
                    {{ filter_form.as_table }}
                </table>
            </form>

            <button id="filter-button" class="btn btn-sm btn-primary">Filter
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr>

            <h3 class="lead mb-4">Available images</h3>

            <table class="table table-hover table-responsive table-sm mt-3">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th class="text-center">Add image</th>
                    <th><span class="float-end">Show image</span></th>
                </tr>
                </thead>
                <tbody id="available-images">

                </tbody>
            </table>
        </div>
    </div>

    <script>
        let available_images = document.getElementById('available-images');
        let selected_images = document.getElementById('selected-images');


        // get objects (e.g. apiaries, hives, ...) that were selected as options
        function getFilteredObjects(selector) {
            let filtered_objects = []
            let options = document.querySelectorAll(selector)
            for (let option of options) {
                if (option.selected) {
                    filtered_objects.push(parseInt(option.value));
                }
            }
            return filtered_objects
        }

        // remove image from selected images table
        function removeImage(tr, img_pk) {
            tr.remove();
            // enabled add button for image again
            let addImgBtn = document.getElementById(`addImgBtn${img_pk}`)
            if (addImgBtn != null) {
                addImgBtn.removeAttribute('disabled');
            }
        }

        // add image to selected images table
        function addImage(btn, img_pk) {
            let tr_element = document.createElement('tr');
            let btn_id = `removeImgBtn${img_pk}`
            let content = `
                <td id="selectedImg${img_pk}">${img_pk}</td>
                <td>
                    <button id="${btn_id}" class="btn btn-sm btn-danger">Remove</button>
                </td>
            `
            document.addEventListener('click', function (e) {
                if (e.target && e.target.id === btn_id) {
                    removeImage(tr_element, img_pk)
                }
            });

            btn.setAttribute('disabled', true)
            tr_element.innerHTML = content
            selected_images.append(tr_element)
        }

        // filter shown images when button is pushed
        let filter_button = document.getElementById('filter-button');
        filter_button.addEventListener('click', function (e) {
            e.preventDefault()
            let apiary_selector = '#id_apiaries > option'
            let filtered_apiaries = getFilteredObjects(apiary_selector)
            let hive_selector = '#id_beehives > option'
            let filtered_hives = getFilteredObjects(hive_selector)
            let video_selector = '#id_videos > option'
            let filtered_videos = getFilteredObjects(video_selector)

            let annotation_type = document.getElementById('id_annotation_type').value
            let image_id = document.getElementById('id_image_id').value

            let data = {
                'apiaries': filtered_apiaries,
                'beehives': filtered_hives,
                'videos': filtered_videos,
                'annotation_type': annotation_type,
                'image_id': image_id
            }

            let filter_url = '{% url 'frame-list-api' %}'
            let xhr = new XMLHttpRequest();
            xhr.open("POST", filter_url, true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        let images = JSON.parse(xhr.responseText);
                        available_images.innerHTML = ''
                        // create the table of available images
                        for (let img of images) {
                            let tr_element = document.createElement('tr');
                            let img_pk = img[0]
                            let img_name = img[1]

                            // disable button if image has already been selected
                            let disabled = ''
                            let selectedImg = document.getElementById(`selectedImg${img_pk}`)
                            if (selectedImg != null) {
                                disabled = 'disabled'
                            }

                            tr_element.innerHTML = `
                                <td id=availableImg${img_pk}>${img_pk}</td>
                                <td>${img_name}</td>
                                <td class="text-center">
                                    <button id="addImgBtn${img_pk}" ${disabled}
                                            class="btn btn-sm btn-success"
                                            onclick="addImage(this, ${img_pk})">Add</button>
                                </td>
                                <td>
                                    {% include 'base/show_button.html' %}
                                </td>
                            `
                            let imgLinkElement = tr_element.lastElementChild.firstElementChild
                            imgLinkElement.setAttribute('href', `/frames/${img_pk}/`);
                            imgLinkElement.setAttribute('target', '_blank');
                            available_images.append(tr_element)
                        }
                    } else {
                        console.error(xhr.statusText);
                    }
                }
            };
            xhr.onerror = function (e) {
                console.error(xhr.statusText);
            };
            xhr.send(JSON.stringify(data));
        })

        let createTaskBtn = document.getElementById('createTaskBtn');
        createTaskBtn.addEventListener('click', function (e) {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", '', true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        if (xhr.responseText === 'error') {
                            document.getElementById('errorMsg').removeAttribute('hidden')
                        } else {
                            window.location = xhr.responseText;
                        }
                    }
                }
            }
            let selected_img_pks = []
            selected_images.querySelectorAll('[id*=selectedImg]').forEach(function (item) {
                selected_img_pks.push(parseInt(item.innerHTML));
            })

            let data = {
                'annotation_type': document.getElementById('id_annotation_type').value,
                'selected_images': selected_img_pks
            }

            xhr.send(JSON.stringify(data));
        })

    </script>

{% endblock %}
