{% load i18n %}
<table class="table table-responsive">

    <thead>
    <tr>
        <th>#</th>
        <th>{% translate 'Description' %}</th>
        <th>{% translate 'Object' %}</th>
        <th class="text-center">{% translate 'Finished by you' %}</th>
        <th class="text-center">{% translate 'Overall finished' %}</th>
        <th><span class="float-end">{% translate 'Label' %}</span></th>
    </tr>
    </thead>

    <tbody>
    {% for task in tasks %}
        <tr>
            <td>{{ task.pk }}</td>
            <td>
                {{ task.description }}
            </td>
            <td>{{ task.annotation_type.name }}</td>
            <td class="text-center">
                {% if request.user in task.annotators %}
                    ✅
                {% else %}
                    ❌
                {% endif %}
            </td>
            <td class="text-center">
                {% if task.finished %}
                    ✅
                {% else %}
                    ❌
                {% endif %}
            </td>
            {% if not task.finished and request.user not in task.annotators %}
                <td>
                    {% url 'annotate' task.pk as annotate_url %}
                    {% include 'base/show_button.html' with url=annotate_url %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>

</table>