{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}
    <h2 class="mb-5">{% translate 'Labeling Tasks' %}</h2>

    <div class="alert alert-primary">
        {% translate 'Help labeling the images!' %}
    </div>
    {% include 'main/management/tasks/user_task_list_card.html' %}
{% endblock %}
