{% extends 'base/base.html' %}

{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                Home
            </li>
        </ol>
    </nav>

    <h2 class="my-5">
        {% translate 'Home' %}
    </h2>

    <div class="row g-5">
        <div class="col-xxl-6">
            {% include 'main/user/user_profile.html' with user=request.user %}
        </div>
        <div class="col-xxl-1"></div>
        <div class="col-xxl-5">

            <div class="row mb-5">
                <div class="col-12">
                    <h4 class="mb-5">{% translate 'Your Stats' %}</h4>

                    <h6>{% translate 'Labeling' %}</h6>

                    <table class="table table-responsive mb-5">
                        <tbody>
                        <tr>
                            <th class="w-75">{% translate 'Labels' %}</th>
                            <td>{{ stats.annotation_count }}</td>
                        </tr>
                        <tr>
                            <th>{% translate 'Image labelled' %}</th>
                            <td>{{ stats.image_annotation_count }}</td>
                        </tr>
                        </tbody>
                    </table>

                    {% if has_apiary_permissions %}

                    <h6>{% translate 'Apiaries' %}</h6>

                    <table class="table table-responsive">
                        <tbody>
                        <tr>
                            <th class="w-75">{% translate 'Hives' %}</th>
                            <td>{{ stats.hive_count }}</td>
                        </tr>
                        <tr>
                            <th>{% translate 'Images' %}</th>
                            <td>{{ stats.image_count }}</td>
                        </tr>
                        </tbody>
                    </table>

                    {% endif %}

                </div>
            </div>

            {% if has_apiary_permissions %}

            <div class="d-flex justify-content-between">
                <h4 class="mb-5">{% translate 'Your apiaries' %}</h4>
                <div>
                    <a href="{% url 'apiary-create' %}"
                       class="btn btn-primary">
                        {% translate 'Add apiary' %}
                    </a>
                </div>
            </div>

            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{% translate 'Name' %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for apiary in apiaries %}
                    {% url 'apiary-detail' apiary.pk as apiary_detail_url %}
                    <tr>
                        <td>{{ apiary.pk }}</td>
                        <td>{{ apiary.name }}</td>
                        <td>
                            {% include 'base/show_button.html' with url=apiary_detail_url %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}
        </div>
    </div>


{% endblock %}

