{% extends 'base/base.html' %}

{% block content %}
    {% url 'apiary-detail' apiary.pk as apiary_url %}
{#    {% include 'base/back_button.html' with url=apiary_url %}#}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ apiary_url }}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ apiary_url }}">
                    {{ apiary.name }}
                </a>
            </li>
            <li class="breadcrumb-item">Weather measurements</li>
        </ol>
    </nav>

    <div class="row my-5">
        <div class="col-xxl-12 d-flex justify-content-between">
            <h3>Weather data for apiary <a
                    href="{{ apiary_url }}">{{ apiary.name }}</a>

            </h3>
            <div>
                <a class="btn btn-primary float-right"
                   href="{% url 'apiary-weather-measurement-create' apiary.pk %}">
                    Fetch current weather data
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-hover table-responsive">

                <thead>
                <tr>
                    <th>Weather station</th>
                    <th>Last update of weather data</th>
                    <th>Measurement added</th>
                    <th>Parameter</th>
                    <th>Value</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for measurement in weather_measurements %}
                    <tr>
                        <td>{{ measurement.weather_station }}</td>
                        <td>{{ measurement.last_update }}</td>
                        <td>{{ measurement.time }}</td>
                        <td>{{ measurement.parameter }}</td>
                        <td>{{ measurement.value }} {{ measurement.parameter.unit }}</td>
                        <td>
                            {% url 'apiary-weather-measurement-delete' apiary.pk measurement.pk as measurement_delete_url %}
                            {% include 'base/sm_delete_button.html' with url=measurement_delete_url %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>




{% endblock %}