{% extends 'base/base.html' %}
{% load colorize %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'beehive-detail' beehive.pk %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' beehive.apiary.pk %}">
                    {{ beehive.apiary.name }}
                </a>
            </li>
            <li class="breadcrumb-item">Hives</li>
            <li class="breadcrumb-item active">
                <a href="{% url 'beehive-detail' beehive.pk %}">
                    {{ beehive.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">Videos</li>
        </ol>
    </nav>

    {% include 'main/video/video_list_section.html' %}

{% endblock %}