{% extends 'base/base.html' %}

{% block content %}
    {% url 'video-detail' frame.image_set.video.pk as video_detail_url %}
    {% include 'base/back_button.html' with url=video_detail_url %}

    <h3 class="mb-5">Select image with the most accurate annotations!</h3>

    <div class="row">
        <div class="col-xxl-8">
            {% for model in models %}
                <div class="row">
                    <div class="col">
                        <hr>
                        <p>{{ model.description }}</p>
                        <canvas id="{{ model.pk }}"
                                width="{{ frame.width }}"
                                height="{{ frame.height }}"
                                class="img-fluid"
                                onclick="clickedImage(this)"
                        >
                        </canvas>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-xxl-4">
            <p class="mb-5">
                3 models are used to create annotations (=boxes) on the
                same image. Select the one image that has the most
                accurate annotations considering both detected bees as well
                as things wrongly annotated as bees.
            </p>
            {% url 'best-model-select' frame.image_set.video.pk as best_model_select_url %}

            <button class="btn btn-primary"
                    onclick="selection_done('{{ best_model_select_url }}', '{{ csrf_token }}')">
                Done
            </button>
        </div>
    </div>

    <script>

        function clickedImage(element) {
            if (element.classList.contains('clicked-img')) {
                element.classList.remove('clicked-img')
            } else {
                let images = document.getElementsByClassName('clicked-img')
                for (let image of images) {
                    image.classList.remove('clicked-img');
                }
                element.classList.add('clicked-img');
            }
        }

        function selection_done(url, csrf_token) {
            const xhr = new XMLHttpRequest();
            console.log(url)
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    window.location = xhr.responseText;
                }
            };
            let image = document.getElementsByClassName('clicked-img')[0]
            let obj_pk = image.getAttribute('id')
            xhr.send(obj_pk);
        }
    </script>

    {% include 'main/annotation/draw_annotations.html' %}

    <script>
        let model_annotations_url;
        let canvas_id;
        let frame_url;
        {% for model in models %}
            {% url 'frame-model-annotations-list-api' model.pk frame.pk as model_annotations_url %}
            model_annotations_url = '{{ model_annotations_url }}'
            canvas_id = '{{ model.pk }}'
            frame_url = '{{ frame.path.url }}'
            getAndDrawAnnotations(model_annotations_url, canvas_id, frame_url);
        {% endfor %}
    </script>

{% endblock %}
