{% extends 'base/base.html' %}

{% block content %}
    <form method="post">{% csrf_token %}
        <table class="table">
            {{ video_form.as_table }}
        </table>
        <input class="btn btn-primary" type="submit" value="Update">
    </form>
{% endblock %}
