{% load colorize %}
<div class="row my-5">
        <div class="col-4">
            <span class="fs-2">
                Videos
                <span class="badge ms-3">{{ video_count }}</span>
            </span>
        </div>
        <div class="col-4">
            {% include 'base/pagination.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th>Uploaded</th>
                    <th>Finished</th>
                    <th>Runtime</th>
                    <th>Process Status</th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody>
                {% for video in page_obj %}
                    <tr>
                        <td>
                            {{ video.pk }}
                        </td>
                        <td>
                            {{ video.filename }}
                        </td>
                        <td>{{ video.uploaded }}</td>
                        <td>{{ video.finished }}</td>
                        <td>{{ video.runtime }}</td>
                        <td>
                            <span class="badge bg-{{ video.process_status|colorize_process_status }}">
                                {{ video.process_status }}
                            </span>
                        </td>
                        <td>
                            {% url 'video-detail' video.pk as video_detail_url %}
                            {% include 'base/show_button.html' with url=video_detail_url %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>