<h4 class="mb-3">Latest Videos</h4>

<div class="row">
    <div class="col-12 scrollbar">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Apiary</th>
                <th scope="col">Beehive</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            {% for video in videos %}
                <tr>
                    <td>
                        {{ video.pk }}
                    </td>
                    <td>
                        <a href="{% url 'apiary-detail' video.beehive.apiary.pk %}">
                            {{ video.beehive.apiary.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'beehive-detail' video.beehive.pk %}">
                            {{ video.beehive.name }}
                        </a>
                    </td>
                    <td>
                        {{ video.filename }}
                    </td>
                    <td>
                        {% url 'video-detail' video.pk as video_detail_url %}
                        {% include 'base/show_button.html' with url=video_detail_url %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
