{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div id="drop-area">
        {% url 'beehive-detail' hive.pk as hive_detail_url %}
{#        {% include 'base/back_button.html' with url=hive_detail_url %}#}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'apiary-detail' hive.apiary.pk %}">
                        {{ hive.apiary.name }}
                    </a>
                </li>
                <li class="breadcrumb-item">Hives</li>
                <li class="breadcrumb-item">
                    <a href="{% url 'beehive-detail' hive.pk %}">
                        {{ hive.name }}
                    </a>
                </li>
                <li class="breadcrumb-item active">Upload video</li>
            </ol>
        </nav>

        <h2 class="my-5">
            Upload video
        </h2>

        <label class="form-label" for="id_path">Choose or drag and drop video/s:</label>
        <input class="form-control" type="file" name="path" required=""
               id="id_path" multiple>

        <div class="progress my-4">
            <div id="progress-bar"
                 class="progress-bar progress-bar-striped active"
                 role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 style="width:0%">
                0%
            </div>
        </div>
        <!-- Text of the buttons is defined in the JS; We have to wait for the JS files to download and it takes quite some time, so if someone clicks the buttons, nothing happens. So we need to let them know somehow. -->
        <!-- <button disabled class="btn btn-primary" id="upload-btn-single">Loading...</button> For now it is commented out for stability reasons. Dont forget to comment out the JS as well. -->
        <!-- <button disabled class="btn btn-primary" id="upload-btn-parallel">Loading...</button> For now it is commented out for stability reasons. Dont forget to comment out the JS as well. -->
        <button disabled class="btn btn-primary mb-4" id="upload-btn-progress">Loading...</button>

        <table class="table mb-5" id="uploadFiles"> <!--Used for displaying which files were successfully uploaded -->
                <tr id="finishedUploadsCount"></tr> <!--Used for displaying how many files were successfully uploaded -->
        </table>


    </div>
    <script src="{% static "js/upload.js" %}"></script>

{% endblock %}
