{% extends 'base/base.html' %}
{% load l10n %}
{% load human_readable %}
{% load colorize %}
{% load i18n %}
{% load static %}

{% block content %}
    {% url 'beehive-detail' pk=video.beehive.pk as beehive_url %}
    {#    {% include 'base/back_button.html' with url=beehive_url %}#}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'beehive-video-list' video.beehive.pk %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' video.beehive.apiary.pk %}">
                    {{ video.beehive.apiary.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">Hives</li>
            <li class="breadcrumb-item">
                <a href="{% url 'beehive-detail' video.beehive.pk %}">
                    {{ video.beehive.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url 'beehive-video-list' video.beehive.pk %}">
                    Videos
                </a>
            </li>
            <li class="breadcrumb-item active">{{ video.pk }}</li>
        </ol>
    </nav>

    <h2 class="my-5">
        Video #{{ video.pk }}
    </h2>

    <div class="row gy-2 mb-5">
        <div class="col-xxl-6">
            <div class="d-flex justify-content-between mb-3">
                <h4>Metadata</h4>
            </div>

            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Original file:</th>
                    <td class="line-break-anywhere">{{ video.filename }}</td>
                </tr>
                <tr>
                    <th scope="row">Creator:</th>
                    <td>{{ video.creator }}</td>
                </tr>
                <tr>
                    <th scope="row">Beehive:</th>
                    <td>
                        <a href="{% url 'beehive-detail' video.beehive.pk %}">
                            #{{ video.beehive.pk }}
                        </a>

                    </td>
                </tr>

                <tr>
                    <th>Recorded:</th>
                    <td>{{ video.recorded }}</td>
                </tr>

                <tr>
                    <th>Size:</th>
                    <td>{{ video.size|humanize_size }}</td>
                </tr>

                <tr>
                    <th>Duration:</th>
                    <td>{{ video.duration }}</td>
                </tr>

                <tr>
                    <th>Width</th>
                    <td>{{ video.width }}</td>
                </tr>

                <tr>
                    <th>Height</th>
                    <td>{{ video.height }}</td>
                </tr>

                <tr>
                    <th>FPS</th>
                    <td>{{ video.fps }}</td>
                </tr>

                <tr>
                    <th>Images</th>
                    <td>{{ video.image_count }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xxl-1"></div>

        <div class="col-xxl-5">

            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-3">Player</h4>

                    <video class="mt-3" width='400' controls>
                        <source src='{{ video.path.url }}'
                                type='video/mp4'>
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

        </div>
    </div>

    <div class="row gy-2 mb-5">
        <div class="col-xxl-6">
            <div class="d-flex justify-content-between mb-3">
                <h4>Processing</h4>
            </div>

            <table class="table">
                <tbody>
                <tr>
                    <th>Process ID:</th>
                    <td>{{ video.process_id }}</td>
                </tr>

                <tr>
                    <th>Process status:</th>
                    <td>
                        <span class="badge bg-{{ video.process_status|colorize_process_status }}">
                            {{ video.process_status }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Uploaded:</th>
                    <td>{{ video.uploaded }}</td>
                </tr>

                <tr>
                    <th>Finished:</th>
                    <td>{{ video.finished }}</td>
                </tr>

                <tr>
                    <th>Runtime:</th>
                    <td>{{ video.runtime }}</td>
                </tr>

                <tr>
                    <th>Model</th>
                    <td>{{ model }}</td>
                </tr>

                <tr>
                    <th>Extracted images (hive, bee):</th>
                    <td>
                        {{ video.imageset.images.count }}
                        {% include 'base/show_button.html' with url=images_url %}
                    </td>
                </tr>

                {% if video.best_model %}
                    <tr>
                        <th>Best model:</th>
                        <td>
                            <a href="{% url 'aimodel-detail' video.best_model.pk %}">
                                {{ video.best_model.description }}
                            </a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col-xxl-1"></div>

        <div class="col-xxl-5">

            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-3">Bee data</h4>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>{% translate 'Annotations Path' %}</th>
                            <td class="line-break-anywhere">
                                {% if video.annotations_path %}
                                    <a href="{{ video.annotations_path.url }}">
                                        {{ video.annotations_path.storage.azure_container }}/{{ video.annotations_path.name }}
                                    </a>
                                {% else %}
                                    {% translate 'Unknown' %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th>Bee Traffic</th>
                            <td>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th class="w-75">Bees flying in:</th>
                                        <td class="w-75">{{ in_bees }}</td>
                                    </tr>
                                    <tr>
                                        <th>Bees flying out:</th>
                                        <td>{{ out_bees }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <th>Pollen Input</th>
                            <td>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th class="w-75">Count:</th>
                                        <td class="w-75">{{ pollen_count }}</td>
                                    </tr>
                                    <tr>
                                        <th>Colors:</th>
                                        <td>
                                            {% for color in pollen_colors %}
                                                <span style="color: {{ color }}; font-size: 30px;">&#x2B22;</span>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        {% if video.best_model %}
                            <tr>
                                <th>Best model:</th>
                                <td>
                                    <a href="{% url 'aimodel-detail' video.best_model.pk %}">
                                        {{ video.best_model.description }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'main/environment/beefoodchecker/plant_matching.html' with x=video.beehive.apiary.location.x y=video.beehive.apiary.location.y time=video.recorded.isoformat radius=5 days=7 %}

    {% if check_accuracy %}
        <div class="row">
            <div class="col">
                <a class="btn btn-primary"
                   href="{% url 'video-model-annotations' video.pk %}">
                    Check accuracy
                </a>
            </div>
        </div>
    {% endif %}

{% endblock %}
