{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% url 'beehive-detail' pk=video.beehive.pk as beehive_url %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'beehive-video-list' video.beehive.pk %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' video.beehive.apiary.pk %}">
                    {{ video.beehive.apiary.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">Hives</li>
            <li class="breadcrumb-item">
                <a href="{% url 'beehive-detail' video.beehive.pk %}">
                    {{ video.beehive.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url 'beehive-video-list' video.beehive.pk %}">
                    Videos
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url 'video-detail' video.pk %}">
                    {{ video.pk }}
                </a>
            </li>
            <li class="breadcrumb-item active">Images</li>
        </ol>
    </nav>

    <h2 class="my-5">
        Images of Video #{{ video.pk }}
    </h2>

    <div class="row gy-2">
        <div class="col-xxl-12">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li id="previous_button" class="page-item">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li class="page-item">
                                <a id="image_number" class="page-link"></a>
                            </li>

                            <li id="next_button" class="page-item">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <p id="images">

            </p>
        </div>
    </div>

    <script>
        let current_page = 1;
        let total_pages = 1;

        function displayImages(data) {
            let imagesElement = document.getElementById("images")

            imagesElement.innerHTML = "";

            for (let image of data.images) {
                let imgElement = document.createElement('img')
                imgElement.setAttribute('src', image.path)
                imgElement.classList.add('photo_image_list')

                let link = document.createElement('a')
                link.setAttribute('href', `/frames/${image.pk}/`)
                link.append(imgElement)
                imagesElement.append(link)
            }

            document.getElementById('image_number').innerText = `${data.page}/${data.pages}`
            total_pages = data.pages;
        }

        function fetchImages(page = 1) {
            fetch(`/api/images/?video={{ video.pk }}&type=hive&page=${page}`)
                .then(x => x.json())
                .then(y => displayImages(y));
        }

        fetchImages()

        document.getElementById('next_button').addEventListener("click", () => {
            if (current_page < total_pages) {
                current_page += 1
                fetchImages(current_page)
            }
        });

        document.getElementById('previous_button').addEventListener("click", () => {
            if (current_page > 1) {
                current_page -= 1
                fetchImages(current_page)
            }
        });
    </script>

{% endblock %}
