{% extends 'base/registration_base.html' %}
{% load i18n %}
{% load widget_tweaks %}


{% block registration-header %}
    {% trans 'Logged out' %}
{% endblock %}

{% block registration-body %}
    <p>{% translate 'Logout successful' %}</p>
    <p><a href="{% url 'login' %}">{% translate 'Login' %}</a></p>
{% endblock %}

