{% extends 'base/registration_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block registration-header %}
    {% translate 'Login' %}
{% endblock %}

{% block registration-body %}
    <form class="login" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label class="form-label" for="login_username">{{ form.username.label }}</label>
            {% render_field form.username id='login_username' class+='form-control' %}
            {% for error in form.username.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="login_password">{{ form.password.label }}</label>
            {% render_field form.password id='login_password' class+='form-control' %}
            {% for error in form.password.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <input type="submit" class="btn btn-primary mt-3" name="login"
               value="{% translate 'Log in' %}"/>
    </form>

    <div class="mt-4">
        <a href="{% url 'django_registration_register' %}">{% translate 'Register' %}</a>
{#        <a href="{% url 'password_reset' %}">Password reset</a>#}
    </div>

{% endblock %}

