{% extends 'base/imagetagger_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block bodyblock %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Change Password</h2>
                </div>
                <div class="panel-body">
                    <form action="{% url 'password_change' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_password">{{ form.old_password.label }}</label>
                            {% render_field form.old_password class+='form-control' %}
                            {% for error in form.old_password.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="id_password1">{{ form.new_password1.label }}</label>
                            {% render_field form.new_password1 class+='form-control' %}
                            {% for error in form.new_password1.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="id_password2">{{ form.new_password2.label }}</label>
                            {% render_field form.new_password2 class+='form-control' %}
                            {% for error in form.new_password2.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% for error in form.non_field_errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                        <input class="btn btn-default" type="submit" name="changepw" value="{% trans 'Change password' %}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyblock %}
