{% extends 'base/imagetagger_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block bodyblock %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Reset password</h1>
                </div>
                <div class="panel-body">
                    {% if validlink %}
                        <form class="login" method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_password1">{{ form.new_password1.label }}</label>
                                {% render_field form.new_password1 class+='form-control' %}
                                {% for error in form.new_password1.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="id_password2">{{ form.new_password2.label }}</label>
                                {% render_field form.new_password2 class+='form-control' %}
                                {% for error in form.new_password2.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% for error in form.non_field_errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            <input type="submit" class="btn btn-primary" name="login" value="{% trans 'Change Password' %}"/>
                        </form>
                    {% else %}
                        <p>{% trans 'The password reset link is not valid or already used.' %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock bodyblock %}
