{% extends 'base/imagetagger_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block bodyblock %}
   <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">{% trans 'Password Reset' %}</h1>
                </div>
                <div class="panel-body">
                    <form class="login" method="POST" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <p>To Reset your password please provide the Email address that is associated with the account</p>
                        <div class="form-group">
                            <label for="login_email">{{ form.email.label }}</label>
                            {% render_field form.email id='login_email' class+='form-control' %}
                            {% for error in form.email.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% for error in form.non_field_errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" name="reset" value="Send password reset Email"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyblock %}
