{% load static %}
<!DOCTYPE html>
<html lang="de" class="h-100">
<head>
    {% load i18n %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Portal | BeeLivingSensor</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">


    <!-- JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    {% block head %}

    {% endblock %}
</head>

{% block body %}
<body class="d-flex flex-column h-100">

<header>
    {% include 'base/top-navbar.html' %}
</header>

<main>
    <div class="container-fluid">

        <div class="row">

            <div id="side-nav" class="col-sm-2 pt-3">
                {% if request.user.is_authenticated %}
                {% include 'base/side-navbar.html' %}
                {% endif %}
            </div>

            <div id="content-area" class="col-sm-10 p-5">
                {% block content %}
                    replace me
                {% endblock %}
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid text-center">
        <span class="text-muted">
            © {% now "Y" %} by BeeLivingSensor
        </span>
    </div>
</footer>

{#Enable tooltips#}
<script>
    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'))
    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

</body>

{% endblock %}
</html>
