{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    <body>

<header>
    {% include 'base/top-navbar.html' %}
</header>

    <div class="registration-container mt-5">

        <div class="card">
            <div class="card-header">
                {% block registration-header %}
                {% endblock %}
            </div>

            <div class="card-body">
                {% block registration-body %}
                {% endblock %}
            </div>
        </div>

    </div>

    </body>

{% endblock %}