{% load i18n %}
<nav class="nav flex-column">
    <a class="nav-link" href="{% url 'index' %}">{% trans 'Home' %}</a>
    {% if request.user.is_staff %}
    <a class="nav-link" href="{% url 'management_overview' %}">{% trans 'Admin' %}</a>
    {% endif %}
    <a class="nav-link" href="{% url 'user-task-list' %}">{% trans 'Labeling' %}</a>
    <a class="nav-link" href="{% url 'beefoodchecker-overview' %}">{% trans 'BeeFoodChecker' %}</a>
</nav>
