{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mr-5" href="{% url 'index' %}">Portal | BeeLivingSensor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between"
             id="navbarNavDropdown">
            <form action="{% url 'set_language' %}"
                  method="post"
                  onChange="this.submit();"
                  class="ml-5"
            >{% csrf_token %}
                <input name="next" type="hidden"
                       value="{{ redirect_to }}">
                <select class="form-select form-select-sm"
                        name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"
                                {% if language.code == LANGUAGE_CODE %}
                                selected{% endif %}>
                            {{ language.name_local }}
                            ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </form>

            <ul class="navbar-nav">
                <li class="nav-item">
                </li>

                <li class="nav-item">
                    <a href="{% url 'download-list' %}" class="nav-link">
                        Download
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://beelivingsensor.org/"
                       target="_blank">
                        Info
                    </a>
                </li>
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}">
                            {% translate 'Logout' %}
                        </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">
                            {% translate 'Login' %}
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
