{% extends 'base/registration_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block registration-header %}
    {% trans 'Registration' %}
{% endblock %}

{% block registration-body %}
    <p>The activation key <b>{{ activation_key }}</b> was invalid. Please try
        again.</p>
    <p><a href="{% url 'django_registration_register' %}">Register</a></p>
{% endblock %}
