{% extends 'base/registration_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block registration-header %}
    {% trans 'Registration' %}
{% endblock %}

{% block registration-body %}
    <p>Registration Complete</p>
    <p><a href="{% url 'login' %}">Login</a></p>
{% endblock %}
