{% extends 'base/registration_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block registration-header %}
    {% trans 'Register' %}
{% endblock %}

{% block registration-body %}
    <form action="{% url 'django_registration_register' %}" method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label class="form-label" for="id_first_name">{{ form.first_name.label }}</label>
            {% render_field form.first_name class+='form-control' %}
            {% for error in form.first_name.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="id_last_name">{{ form.last_name.label }}</label>
            {% render_field form.last_name class+='form-control' %}
            {% for error in form.last_name.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="id_username">{{ form.username.label }}</label>
            {% render_field form.username class+='form-control' %}
            {% for error in form.username.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="id_password1">{{ form.password1.label }}</label>
            {% render_field form.password1 class+='form-control' %}
            {% for error in form.password1.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="id_password2">{{ form.password2.label }}</label>
            {% render_field form.password2 class+='form-control' %}
            {% for error in form.password2.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="id_email">{{ form.email.label }}</label>
            {% render_field form.email class+='form-control' %}
            {% for error in form.email.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <input class="btn btn-primary mt-3" type="submit" name="registration"
               value="{% trans 'Register' %}">
    </form>

{% endblock %}
