{% extends 'base/registration_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block registration-header %}
    {% trans 'Successful Registration' %}
{% endblock %}

{% block registration-body %}
    <p>{% trans 'Registration was successful!' %}</p>
    <p><a href="{% url 'login' %}">{% translate 'Login' %}</a></p>
{% endblock %}
