{% extends 'base/base.html' %}
{% load colorize %}


{% block content %}


<h1>{{ heading }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

{% endblock %}
