{% extends 'base/base.html' %}
{% load i18n %}
{% load plant %}
{% load static %}


{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'beefoodchecker-overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a
                    href="{% url 'beefoodchecker-overview' %}">BeeFoodChecker</a>
            </li>
            <li class="breadcrumb-item active">{% translate 'Plants' %}</li>
        </ol>
    </nav>

    <div class="row my-4">
        <div class="col-5">
            <span class="fs-2">
                {% translate 'Plants' %}
                <span class="badge ms-2">{{ plant_count }}</span>
            </span>
        </div>
        <div class="col-2"></div>
        <div class="col-5">

            <form method="get">
                <table class="table table-responsive">
                    <tbody>
                    <tr>
                        <th>{{ form.name.label_tag }}</th>
                        <td>
                            {{ form.name.errors }}
                            {{ form.name }}
                            <datalist id="plantOptions">
                            </datalist>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <input type="submit"
                       class="btn btn-primary float-end"
                       value="{% translate 'Search' %}">
            </form>
        </div>
    </div>

    <div class="row">
    <div class="col-xxl-4"></div>
    <div class="col-xxl-4">
        {% include 'base/pagination.html' %}
    </div>
    <div class="col-xxl-4"></div>
    </div>

    {% for plant_group in plant_groups %}
        <div class="row g-3 m-1">
            {% for plant in plant_group %}
                <div class="col-xxl-2">
                    <div class="card h-100">

                        <a href="{% url 'beefoodchecker-plant-detail' plant.pk %}"
                           class="card-img-top photo"
                           style="background-image: url(&quot;{{ plant.image_url }}&quot;);">
                        </a>

                        <div class="card-body">
                            <p class="card-title">
                                <a href="{% url 'beefoodchecker-plant-detail' plant.pk %}">
                                    {% translate_common_name request plant.commonname_set.all %}
                                    ({{ plant.name }})
                                </a>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    {{ plant.observation_set.count }}
                                    {% translate 'observation(s)' %}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endfor %}

    <script>
    async function autocomplete_plants() {
        fetch('/api/plants/')
            .then(data => data.json())
            .then(plants => {
                const options = document.getElementById('plantOptions');
                for (let plant of plants) {
                    let option = document.createElement('option');
                    let language = '{{ request.LANGUAGE_CODE }}'

                    let option_value;
                    if (language in plant.common_names) {
                        let common_name = plant.common_names[language]
                        option_value = `${common_name} (${plant.name})`
                    } else {
                        option_value = `(${plant.name})`
                    }

                    option.setAttribute('value', option_value)
                    options.append(option)
                }
            })
    }

    // TODO: make autocompletion performant
    // autocomplete_plants();
    </script>


{% endblock %}