{% extends 'base/base.html' %}
{% load plant %}

{% block head %}
    {{ plant_form.media }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'beefoodchecker-overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'beefoodchecker-overview' %}">BeeFoodChecker</a>
            </li>
            <li class="breadcrumb-item active">Search</li>
        </ol>
    </nav>

    <div class="row mb-3 mt-4">
        <div class="col-12">

            <form method="get">

                <div class="row mb-5">
                    <div class="col-6">
                        <h2>Check bee food availability</h2>
                    </div>
                    <div class="col-6">
                        <input class="btn btn-primary float-end"
                               type="submit"
                               value="Check food">
                    </div>
                </div>

                <div class="row mb-3">
                    {{ plant_form.radius.errors }}
                    <div class="col-xxl-2">
                        <label for="{{ plant_form.radius.id_for_label }}">Radius (km):</label>
                    </div>
                    <div class="col-xxl-1">
                        {{ plant_form.radius }}
                    </div>
                </div>


                <div class="row mb-3">
                    {{ plant_form.time.errors }}
                    <div class="col-xxl-2">
                        <label for="{{ plant_form.time.id_for_label }}">Time:</label>
                    </div>
                    <div class="col-xxl-2">
                        {{ plant_form.time }}
                    </div>
                </div>

                <div class="row mb-3">
                    {{ plant_form.days.errors }}
                    <div class="col-xxl-2">
                        <label for="{{ plant_form.days.id_for_label }}">Days (+/-):</label>
                    </div>
                    <div class="col-xxl-2">
                        {{ plant_form.days }}
                    </div>
                </div>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseMap"
                                    aria-expanded="false"
                                    aria-controls="collapseMap">
                                Search by Map
                            </button>
                        </h2>

                        <div id="collapseMap"
                             class="accordion-collapse collapse show"
                             aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body text-center">

                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10">
                                        <table id="table-test">
                                            <tr>
                                                <td>
                                                    {{ plant_form.location }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-1"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if location and radius %}

        <div class="row mb-5 mt-5">
            <div class="col-12">
                <h4>Search params:</h4>
                <div>
                    <span>Location: {{ location.x }}, {{ location.y }}</span>
                    <br>
                    <span>Radius: {{ radius }}</span>
                    <br>
                    <span>Time: {{ time.isoformat }}</span>
                    <br>
                    <span>Days (+/-): {{ days }}</span>
                </div>
            </div>
        </div>

        {% include 'main/environment/beefoodchecker/plant_matching.html' with x=location.x y=location.y time=time.isoformat radius=radius days=days %}
    {% endif %}

    <script>

        const mapCollapseElement = document.getElementById('collapseMap')
        const mapCollapse = new bootstrap.Collapse(mapCollapseElement, {
            toggle: false
        })

        {% if searched %}
            mapCollapse.hide()
        {% endif %}

        flatpickr("#id_time", {enableTime: true, dateFormat: "Y-m-d H:i",});

    </script>

{% endblock %}