{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ plant_form.media }}
{% endblock %}

{% block content %}

    <h2 class="mb-5">BeeFoodChecker</h2>

    <div class="row g-5">
        <div class="col-xxl-4">
            <div class="card" style="width: 400px; height: 650px">
                <a href="{% url 'beefoodchecker-observation-list' %}">
                    <img src="{% static 'img/observations.jpg' %}"
                         class="card-img-top img-responsive"
                    />
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'beefoodchecker-observation-list' %}">
                            {% translate 'Observations' %}
                        </a>
                    </h5>
                    <p class="card-text">
                        {% translate 'Plant photos taken by the community in the vicinity' %}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {% translate 'from' %}
                            <a href="https://www.inaturalist.org/">
                                <img src="{% static 'img/inaturalist-logo.png' %}"
                                     style="max-width: 30px;"
                                     class="img-fluid img-responsive ms-2"/>
                            </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xxl-4">
            <div class="card" style="width: 400px; height: 650px">
                <a href="{% url 'beefoodchecker-search' %}">
                    <img src="{% static 'img/observations.jpg' %}"
                         class="card-img-top img-responsive"
                    />
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'beefoodchecker-search' %}">
                            {% translate 'Food Availability' %}
                        </a>
                    </h5>
                    <p class="card-text">
                        {% translate 'Check the bee food availability in your area:' %}
                        {% translate 'How much pollen/nectar is currently available around your beehive.' %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xxl-4">
            <div class="card" style="width: 400px; height: 650px">
                <a href="{% url 'beefoodchecker-plant-list' %}">
                    <img src="{% static 'img/observations.jpg' %}"
                         class="card-img-top img-responsive"
                    />
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'beefoodchecker-plant-list' %}">
                            {% translate 'Plant Database' %}
                        </a>
                    </h5>
                    <p class="card-text">
                        {% translate 'Discover our aggregated plant database for bees in Switzerland:' %}
                    <ul>
                        <li>{% translate 'Which plants for bees grow in Switzerland' %}</li>
                        <li>{% translate 'Where do they grow' %}</li>
                        <li>{% translate 'When do they flower' %}</li>
                        <li>{% translate 'How much pollen & nectar they provide' %}</li>
                    </ul>

                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            from

                            <a href="https://www.kosmos.de/buecher/ratgeber-naturfuehrer/heimtiere/imkerei/9759/bienenweide">
                                <img src="{% static 'img/pritsch.png' %}"
                                     style="max-width: 30px;"
                                     class="img-fluid img-responsive ms-2"/>
                            </a>
                            +
                            <a href="https://www.inaturalist.org/">
                                <img src="{% static 'img/inaturalist-logo.png' %}"
                                     style="max-width: 30px;"
                                     class="img-fluid img-responsive ms-2"/>
                            </a>
                            +
                            <a href="https://www.infoflora.ch">
                                <img src="{% static 'img/info-flora-logo.png' %}"
                                     style="max-width: 50px;"
                                     class="img-fluid img-responsive ms-2"/>
                            </a>
                            +
                            <a href="https://www.phaenonet.ch">
                                <img src="{% static 'img/phaenonet-logo.png' %}"
                                     style="max-width: 30px;"
                                     class="img-fluid img-responsive ms-2"/>
                            </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}