{% extends 'base/base.html' %}
{% load plant %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'beefoodchecker-overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a
                    href="{% url 'beefoodchecker-overview' %}">BeeFoodChecker</a>
            </li>
            <li class="breadcrumb-item active">{% translate 'Observations' %}</li>
        </ol>
    </nav>

    <div class="row my-4">
        <div class="col-4">
            <span class="fs-2">
                {% translate 'Observations' %}
                <span class="badge ms-2">{{ observation_count }}</span>
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-4"></div>
        <div class="col-4">
            {% include 'base/pagination.html' %}
        </div>
        <div class="col-4">
            {% if request.user.is_staff %}
            <a class="btn btn-primary float-end"
               href="{% url 'beefoodchecker-observation-create' %}">
                {% translate 'Fetch observations' %}
            </a>
            {% endif %}
        </div>
    </div>


    <table class="table table-responsive table-hover table-sm">
        <thead>
        <tr>
            <th>{% translate 'Plant' %}</th>
            <th>{% translate 'Observed on' %}</th>
            <th>{% translate 'Place' %}</th>
            <th>{% translate 'User' %}</th>
            <th>{% translate 'Flowering' %}</th>
            <th>{% translate 'Link' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for observation in page_obj %}
            <tr>
                <td>{% translate_common_name request observation.plant.commonname_set.all %} <br>
                    (<a href="/beefoodchecker/plants/{{ observation.plant.pk }}/">
                        {{ observation.plant.name }}
                    </a>)
                </td>
                <td>{{ observation.observed_on }}</td>
                <td>{{ observation.place_guess }}</td>
                <td>{{ observation.user }}</td>
                <td>{% translate 'unknown' as default_flowering %}{{ observation.flowering|default_if_none:default_flowering }}</td>
                <td>
                    <a href="{{ observation.observation_url }}"
                       target="_blank">
                        {{ observation.inaturalist_id }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}