{% extends 'base/base.html' %}
{% load emoji %}
{% load human_readable %}
{% load i18n %}
{% load plant %}
{% load static %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_css %}
    {% leaflet_js %}
    <style>
        #map {
            width: 100%;
            min-height: 600px;
        }
    </style>

{% endblock %}


{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'beefoodchecker-plant-list' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a
                    href="{% url 'beefoodchecker-overview' %}">BeeFoodChecker</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url 'beefoodchecker-plant-list' %}">
                    {% translate 'Plants' %}
                </a>
            </li>
            <li class="breadcrumb-item active">{{ plant.name }}</li>
        </ol>
    </nav>

    <h2 class="my-5">
        {% translate 'Plant' %} <span
            class="plant-title px-3">{% translate_common_name request plant.commonname_set.all %}</span>
    </h2>

    <div class="row g-5">
        <div class="col-xxl-3">
            <div class="rounded photo_plant_detail"
                 style="background-image: url(&quot;{{ plant.image_url }}&quot;);">
            </div>
        </div>
        <div class="col-xxl-6">
            <h4>{% translate 'General' %}</h4>
            <table class="table table-responsive mt-4">
                <tbody>
                <tr>
                    <th>{% translate 'Latin name' %}:</th>
                    <td class="w-50">{{ plant.name }}</td>
                </tr>
                <tr>
                    <th>{% translate 'Common name' %}:</th>
                    <td>
                        {% translate_common_name request plant.commonname_set.all %}
                    </td>
                </tr>
                <tr class="w-50">
                    <th>{% translate 'Pollen Color' %}:</th>
                    <td>
                        {% if plant.pollen_color %}
                            <span class="{% if plant.pollen_color == '#ffffff' %}bg-dark{% endif %} px-2 pb-1"
                                  style="color: {{ plant.pollen_color }}; font-size: 30px;">&#x2B22;</span>
                        {% else %}
                            {% translate 'unknown' %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% translate 'Taxonomy' %}:</th>
                    <td class="w-50">
                        {% for taxon in plant.taxonomy %}
                            <span style="padding-left: {{ forloop.counter0 }}0px">
                                {{ taxon.name }} <small
                                    class="text-muted">({{ taxon.rank }})
                                </small>
                                {% if not forloop.last %}
                                    <br>
                                {% endif %}
                            </span>
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-12">
            <span class="fs-4 me-2">{% translate 'Nutrition' %}</span>
            {% include 'main/environment/beefoodchecker/pritsch_reference.html' %}

            <p class="mt-4">
                <b>{% translate 'Grade' %}:</b> <span
                    style="background-color: {% colorize_nutrition_value plant.nutrition_grade %}"
                    class="px-2 py-1 text-light rounded ms-5"
            >
                {{ plant.get_nutrition_grade_display }}</span>
            </p>

            <div class="row mt-4">
                {% for month, days  in nutrition_values.items %}
                    <div class="col-md-2 border text-center">
                        <p class="mt-4">{% translate month %}</p>

                        <div class="row mt-4 text-center">
                            {% for start_day, foods in days.items %}

                                <div class="col-6 text-center">
                                    {{ start_day }}.
                                    <div class="row mt-4 text-center">
                                        <div class="col-6 text-primary text-center"
                                             style="background-color: {% colorize_nutrition_value foods.P %}">
                                            <span>P</span>
                                        </div>
                                        <div class="col-6 text-success"
                                             style="background-color: {% colorize_nutrition_value foods.P %}">
                                            <span>N</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}

                <p class="mt-4">
                    <small>
                        <span class="text-primary">P</span>: {% translate 'Pollen' %},
                        <span class="text-success">N</span>: {% translate 'Nectar' %}
                    </small>
                </p>
            </div>

        </div>

    </div>

    <div class="row mt-5">
        <div class="col-xxl-12">
            <span class="fs-4 me-2">{% translate 'Flowering Phase' %}</span>
            <table class="table table-responsive mt-4">
                <tbody>
                <tr>
                    <th>{% translate 'General' %}:</th>
                    <td>
                        {% if flowering_info.general_phase %}
                            <table class="table">
                                <tr>
                                    <td class="w-25">{% translate 'First' %}:</td>
                                    <td>{{ flowering_info.general_phase.first_date }}</td>
                                    <td></td>
                                    <td>{% include 'main/environment/beefoodchecker/pritsch_reference.html' %}</td>
                                </tr>
                                <tr>
                                    <td>{% translate 'Last' %}:</td>
                                    <td>{{ flowering_info.general_phase.last_date }}</td>
                                    <td></td>
                                    <td>{% include 'main/environment/beefoodchecker/pritsch_reference.html' %}</td>
                                </tr>
                                <tr>
                                    <td>{% translate 'Status' %}:</td>
                                    <td>{{ flowering_info.general_phase.status|bool_emoji }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        {% else %}
                            {% translate 'unknown' %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% translate 'Overall observed' %}:</th>
                    <td>
                        {% if flowering_info.overall_observed_phase %}
                            <table class="table">
                                <tr>
                                    <td class="w-25">{% translate 'First' %}:</td>
                                    <td>{{ flowering_info.overall_observed_phase.first_date }}</td>
                                    <td>
                                        (<a href="{{ flowering_info.overall_observed_phase.first_observation.observation_url }}" target="_blank">
                                            {{ flowering_info.overall_observed_phase.first_detail }}
                                        </a>)
                                    </td>
                                    <td>{% include 'main/environment/beefoodchecker/inaturalist_reference.html' %}</td>
                                </tr>
                                <tr>
                                    <td>{% translate 'Last' %}:</td>
                                    <td>{{ flowering_info.overall_observed_phase.last_date }}</td>
                                    <td>
                                        (<a href="{{ flowering_info.overall_observed_phase.last_observation.observation_url }}" target="_blank">
                                            {{ flowering_info.overall_observed_phase.last_detail }}
                                        </a>)
                                    </td>
                                    <td>{% include 'main/environment/beefoodchecker/inaturalist_reference.html' %}</td>
                                </tr>
                                <tr>
                                    <td>{% translate 'Status' %}:</td>
                                    <td>{{ flowering_info.overall_observed_phase.status|bool_emoji }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        {% else %}
                            {% translate 'unknown' %}
                        {% endif %}
                    </td>
                </tr>
                <tr class="w-50">
                    <th>{% translate 'Current year observed' %}:</th>
                    <td>
                        {% if flowering_info.current_observed_phase %}
                            <table class="table">
                                <tr>
                                    <td class="w-25">{% translate 'First' %}:</td>
                                    <td>{{ flowering_info.current_observed_phase.first_date }}</td>
                                    <td>
                                        (<a href="{{ flowering_info.current_observed_phase.first_observation.observation_url }}" target="_blank">
                                            {{ flowering_info.current_observed_phase.first_detail }}
                                        </a>)
                                    </td>
                                    <td>{% include 'main/environment/beefoodchecker/inaturalist_reference.html' %}</td>
                                </tr>
                                <tr>
                                    <td>{% translate 'Last' %}:</td>
                                    <td>{{ flowering_info.current_observed_phase.last_date }}</td>
                                    <td>
                                        (<a href="{{ flowering_info.current_observed_phase.last_observation.observation_url }}" target="_blank">
                                         {{ flowering_info.current_observed_phase.last_detail }}
                                        </a>)</td>
                                    <td>{% include 'main/environment/beefoodchecker/inaturalist_reference.html' %}</td>
                                </tr>
                                <tr>
                                    <td>{% translate 'Status' %}:</td>
                                    <td>{{ flowering_info.current_observed_phase.status|bool_emoji }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        {% else %}
                            {% translate 'unknown' %}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-xxl-9">
            <div class="">

            </div>
            <span class="mb-4 fs-4 me-2">{% translate 'Occurence' %}</span>
            <small>
                <a class="text-muted"
                   href="https://www.infoflora.ch"
                   target="_blank"
                >
                    (Info Flora
                    <img src="{% static 'img/info-flora-logo.png' %}"
                         style="max-width: 50px;"
                         class="img-fluid img-responsive ms-2"/>)
                </a>
            </small>

            <div class="row mt-4">
                <div class="col-xxl-12">
                    {% leaflet_map "map" callback="main_map_init" %}

                    <script type="text/javascript">
                        function main_map_init(map, options) {
                            map.setView([46.7985, 8.2318], 8);

                            let icon = L.divIcon({className: 'plant_icon'})

                            fetch('/api/plants/{{ plant.pk }}/occurrences/')
                                .then(response => response.json())
                                .then(result => {
                                    for (let occ of result.data) {
                                        L.marker([occ.y, occ.x], {icon: icon}).addTo(map);
                                    }
                                })
                        }
                    </script>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
