{% load static %}
<small>
    <a class="text-muted"
       href="https://www.inaturalist.org/"
       target="_blank"
    >
        (iNaturalist
        <img src="{% static 'img/inaturalist-logo.png' %}"
             style="max-width: 15px;"
             class="img-fluid img-responsive ms-2"/>)
    </a>
</small>