{% load i18n %}

<div class="plant-table-container mb-4 mt-3" hidden>
    Total matched plants: <span id="{{ badge_id }}" class="badge badge-warning ms-3"></span>

    <table class="table table-sm mt-4">
        <thead>
        <tr>
            <th>#</th>
            <th>{% translate 'Plant' %}</th>
            <th>{% translate 'Occ.' %}</th>
            <th>{% translate 'Flow.' %}</th>
            <th>{% translate 'Obsv.' %}</th>
            <th>{% translate 'Obsv./time' %}</th>
            <th>{% translate 'Obsv./year' %}</th>
            <th>{% translate 'Obsv./year/time' %}</th>
            <th>{% translate 'Obsv./year/time/flow.' %}</th>
            <th>{% translate 'Grade' %}</th>
            <th>{% translate 'Color' %}</th>
        </tr>
        </thead>
        <tbody id="{{ table_id }}"></tbody>
    </table>
</div>
