{% load human_readable %}
{% load i18n %}
{% load l10n %}
<div class="row">
    <div class="col-xxl-12">

        <div class="row">
            <div class="col-xxl-3">
                <h4 class="mb-4">Plant Matching</h4>
            </div>
            <div class="col-xxl-3">
                <a class="btn btn-secondary"
                   data-bs-toggle="collapse"
                   href="#scoring-docs"
                   role="button"
                   aria-expanded="false"
                   aria-controls="scoring-docs">
                    How ranking works
                </a>
            </div>
        </div>


        <div class="collapse" id="scoring-docs">
            <div class="card card-body">

                <p>
                    To determine which plants grow in an area around a particular time,
                    several criteria are considered. Each criterion receives
                    a score. The scores of the criteria are added up to
                    obtain a total score. The higher the total score for
                    a given plant is, the more likely it is to provide food for bees
                    in the specified area. Plants with the same total score
                    are subsumed under the same rank.
                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Criterion</th>
                        <th>Description</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Occurring<br>(Occ.)</td>
                        <td>
                            The plant potentially occurs
                            within the radius of {% if radius < 5 %}5{% else %}{{ radius }}{% endif %} km
                            of the location ({{ x }}, {{ y }})
                        </td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Flowering<br>(Flow.)</td>
                        <td>
                            The plant potentially flowers on {{ time|humanize_datetime|date }}
                        </td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Observed<br>(Obsv.)</td>
                        <td>
                            The plant has been observed within the radius of
                            {{ radius }} km
                            of the location ({{ x }}, {{ y }})
                        </td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Observed around this time<br>(Obsv./time)</td>
                        <td>
                            Same as <i>Obsv.</i>, but
                            within the previous and following {{ days }} days
                            of {{ time|humanize_datetime|date:"F j" }} (any year)
                        </td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Observed in this year<br>(Obsv./year)</td>
                        <td>
                            Same as <i>Obsv.</i>, but
                            within this year ({{ time|humanize_datetime|date:"Y" }})
                        </td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Observed in this year around this time<br>(Obsv./year/time)</td>
                        <td>
                            Same as <i>Obsv./year</i>, but
                            within the previous and following {{ days }} days
                            of {{ time|humanize_datetime|date }}
                        </td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Observed in this year around this time flowering (Obsv./year/time/flow.)</td>
                        <td>
                            Same as <i>Obsv./year/time</i>, but
                            with the flowering status explicitly stated.
                        </td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td>The nutritional value of the food (pollen/nectar) delivered by the plant.</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>The pollen color of the plant.</td>
                        <td>2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% with template_url='main/environment/beefoodchecker/plant_table_container.html' %}
            <hr>
            {% include template_url with table_id="plant-table" badge_id='badge-plants' %}
            <hr>
        {% endwith %}

        <div id="spinner" class="mt-5 text-center">
            <span class="text-warning mb-3">Takes 20-30 seconds...</span>
            <br>
            <div class="spinner-border text-warning mt-5" role="status"
                 style="width: 200px; height: 200px;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

<script>
    let plant_match_url = new URL(window.location.href)
    plant_match_url.pathname = 'api/plants/match/'

    let params = {
        x: {{ x|unlocalize }},
        y: {{ y|unlocalize }},
        time: "{{ time }}",
        radius: {{ radius }},
        days: {{ days }}
    }

    plant_match_url.search = new URLSearchParams(params).toString()

    function get_emoji(value) {
        if (value) {
            return '✅'
        } else {
            return '❌'
        }
    }

    function add_modal(plant, obsv_name, container){
        let modal = create_modal(plant, obsv_name, container)
        populate_modal(modal, plant[obsv_name])
    }

    function create_modal(plant, obsv_name, container){
        let modal_id = `modal-${plant.pk}-${obsv_name}`
        let modal_body_id = `modal-body-${plant.pk}-${obsv_name}`
        let modal = `
                <div class="modal fade" id="${modal_id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">${plant.species}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div id="${modal_body_id}" class="modal-body">
                      </div>
                    </div>
                  </div>
                </div>
        `

        container.insertAdjacentHTML('beforeend', modal)

        return {
            'modal': modal,
            'modal_id': modal_id,
            'modal_body_id': modal_body_id
        }
    }

    function populate_modal(modal, observations){
        let modal_body = document.getElementById(modal.modal_body_id)
        let obsv_list = document.createElement('ul')

        for (let obsv of observations){
            let obsv_li = document.createElement('li')
            obsv_li.innerHTML = `<a href="${obsv.url}" target="_blank">${obsv.id}</a>`
            obsv_list.append(obsv_li)
        }

        modal_body.append(obsv_list)
    }

    function populate_table(rank, table_id, position) {
        let table_element = document.getElementById(table_id)
        let container = table_element.parentElement.parentElement

        let head_element = `
            <tr>
                <td colspan='2' class="bg-light text-center text-muted">
                    Rank: ${rank.rank}
                </td>
                <td colspan='4' class="bg-light text-center text-muted">
                    Score: ${rank.score}
                </td>
                <td colspan='4' class="bg-light text-center text-muted">
                    Count: ${rank.count}
                </td>
                <td class="bg-light"></td>
                <td class="bg-light"></td>
                <td class="bg-light"></td>
                <td class="bg-light"></td>
                <td class="bg-light"></td>
                <td class="bg-light"></td>
                <td class="bg-light"></td>
            </tr>
        `
        table_element.insertAdjacentHTML('beforeend', head_element)

        for (let plant of rank.plants) {
            let pollen_color_td = ''
            if (plant.pollen_color != null){
                pollen_color_td = `
                    <span
                        class="px-2 pb-1"
                        style="color: ${plant.pollen_color}; font-size: 30px;">
                        &#x2B22;
                    </span>`
            }

            let tr_element = `
                        <tr>
                            <td>${position}</td>
                            <td>
                                <a href="/beefoodchecker/plants/${plant.pk}/" target="_blank">
                                   ${plant.species}
                                </a>
                            </td>
                            <td>${get_emoji(plant.occurring)}</td>
                            <td>${get_emoji(plant.flowering)}</td>
                            <td>
                                <a type="button" data-bs-toggle="modal" data-bs-target="#modal-${plant.pk}-observations">
                                    ${get_emoji(plant.observed)}
                                </a>
                            </td>
                            <td>
                                <a type="button" data-bs-toggle="modal" data-bs-target="#modal-${plant.pk}-observations_around_this_time">
                                    ${get_emoji(plant.observed_around_this_time)}
                                </a>
                            <td>
                                <a type="button" data-bs-toggle="modal" data-bs-target="#modal-${plant.pk}-observations_this_year">
                                    ${get_emoji(plant.observed_this_year)}
                                </a>
                            </td>
                            <td>
                                <a type="button" data-bs-toggle="modal" data-bs-target="#modal-${plant.pk}-observations_this_year_around_this_time">
                                    ${get_emoji(plant.observed_this_year_around_this_time)}
                                </a>
                            </td>
                            <td>
                                <a type="button" data-bs-toggle="modal" data-bs-target="#modal-${plant.pk}-observations_this_year_around_this_time_flowering">
                                    ${get_emoji(plant.observed_this_year_around_this_time_flowering)}
                                </a>
                            </td>
                            <td>${plant.nutrition_grade}</td>
                            <td>${pollen_color_td}</td>
                        </tr>
                    `
            table_element.insertAdjacentHTML('beforeend', tr_element)

            add_modal(plant, 'observations', container)
            add_modal(plant, 'observations_around_this_time', container)
            add_modal(plant, 'observations_this_year', container)
            add_modal(plant, 'observations_this_year_around_this_time', container)
            add_modal(plant, 'observations_this_year_around_this_time_flowering', container)

            position += 1
        }
    }



    fetch(plant_match_url)
        .then(response => response.json())
        .then(result => {
            let position = 1;
            for (let rank of result.data.ranking){
                populate_table(rank, 'plant-table', position)
                position += rank.count
            }

            document.getElementById('badge-plants').innerText = result.data.count
            document.getElementById('spinner').setAttribute('hidden', '')

            for (let c of document.getElementsByClassName('plant-table-container')) {
                c.removeAttribute('hidden')
            }
        })
</script>