{% load static %}
<small>
    <a class="text-muted"
       href="https://www.kosmos.de/buecher/ratgeber-naturfuehrer/heimtiere/imkerei/9759/bienenweide"
       target="_blank"
    >
        (Pritsch
        <img src="{% static 'img/pritsch.png' %}"
             style="max-width: 15px;"
             class="img-fluid img-responsive ms-2"/>)
    </a>
</small>