<h5 class="mb-5">Hives</h5>


<div class="scrollbar">
    <table class="table">

        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Apiary</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        {% for hive in hives %}
            <tr>
                <td>{{ hive.pk }}</td>
                <td>{{ hive.apiary.name }}</td>
                <td>{{ hive.name }}</td>
                <td>
                    {% url 'beehive-detail' hive.pk as hive_detail_url %}
                    {% include 'base/show_button.html' with url=hive_detail_url %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>