{% extends 'base/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' apiary.pk %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' apiary.pk %}">
                    {{ apiary.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">Add beehive</li>
        </ol>
    </nav>

    <h2 class="my-5">Add beehive</h2>

    <form method="post">{% csrf_token %}
        <table class="table">
            {{ beehive_form.as_table }}
        </table>
        <input class="btn btn-primary mt-4" type="submit" value="Save">
    </form>

{% endblock %}
