{% extends 'base/base.html' %}

{% block content %}
    {% url 'beehive-detail' beehive.pk as beehive_url %}
    {#    {% include 'base/back_button.html' with url=beehive_url %}#}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ beehive_url }}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' beehive.apiary.pk %}">
                    {{ beehive.apiary.name }}
                </a>
            </li>
            <li class="breadcrumb-item">Hives</li>
            <li class="breadcrumb-item">
                <a href="{{ beehive_url }}">
                    {{ beehive.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">Images</li>
        </ol>
    </nav>

    <div class="row my-5">
        <div class="col-xxl-6">
            <h4 class="mb-5">
                Images of beehive #
                <a href="{{ beehive_url }}">
                    {{ beehive.pk }}
                </a>

                <span class=" ms-5 badge bg-secondary">{{ image_count }}</span>

                <a class="btn btn-primary float-end"
                   href="{% url 'beehive-image-create' beehive.pk %}">
                    Add image
                </a>
            </h4>
        </div>
        <div class="col-xxl-1"></div>
        <div class="col-xxl-5">
            <form method="get">
                <table class="table">
                    {{ form.as_table }}
                </table>
                <input class="btn btn-sm btn-primary" type="submit"
                       value="Filter">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.previous_page_number }}&{{ querystring }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link"
                           href="#">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                        </a>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.next_page_number }}&{{ querystring }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    {% for image_group in image_groups %}

        <div class="row">
            {% for image in image_group %}
                <div class="col-md-3 gy-4">

                    <span class="line-break-anywhere mb-4">{{ image.name }}</span>

                    <p class="text-center mt-3">
                        <a href="{% url 'frame-detail' image.pk %}">
                            <img src="{{ image.path.url }}"
                                 class="img-fluid rounded">
                        </a>
                    </p>

                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
