{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"
            integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/graph.css' %}">
{% endblock %}

{% block content %}
    {% url 'apiary-detail' beehive.apiary.pk as apiary_detail_url %}
    {#    {% include 'base/back_button.html' with url=apiary_detail_url %}#}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' beehive.apiary.pk %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' beehive.apiary.pk %}">
                    {{ beehive.apiary.name }}
                </a>
            </li>
            <li class="breadcrumb-item">Hives</li>
            <li class="breadcrumb-item active">{{ beehive.name }}</li>
        </ol>
    </nav>

    <h1 class="my-5">Beehive <span
            class="ms-5 fs-2">{{ beehive.name }}</span></h1>

    <div class="row gy-2">

        <div class="col-xxl-6">

            <div class="d-flex justify-content-between">
                <h4 class="mb-5">Metadata</h4>
                <a class="btn btn-primary mb-5"
                   href="{% url 'beehive-update' beehive.pk %}">
                    Edit
                </a>
            </div>

            <table class="table table-hover table-responsive">
                <tbody>
                <tr>
                    <th scope="row">ID:</th>
                    <td>{{ beehive.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Name:</th>
                    <td>{{ beehive.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Apiary:</th>
                    <td>
                        <a href="{% url 'apiary-detail' beehive.apiary.pk %}">
                            {{ beehive.apiary.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Creator:</th>
                    <td>{{ beehive.creator }}</td>
                </tr>
                <tr>
                    <th scope="row">Private:</th>
                    <td>{{ beehive.private }}</td>
                </tr>
                <tr>
                    <th scope="row">Entrance:</th>
                    <td>
                        Shape: {{ beehive.entrance }}
                        <br>
                        Coordinates:
                        {% if beehive.entrance_annotation %}
                            {{ beehive.entrance_annotation.vector }}

                            {% url 'frame-detail' beehive.entrance_annotation.annotation_set.image.pk as image_url %}
                            {% include 'base/show_button.html' with url=image_url %}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Images:</th>
                    <td>
                        {{ beehive.image_set.count }}
                        {% url 'beehive-image-list' beehive.pk as image_list_url %}
                        {% include 'base/show_button.html' with url=image_list_url %}
                    </td>
                </tr>
                {% if request.user.is_staff %}
                    <tr>
                        <th scope="row">Bee Model:</th>
                        <td>
                            {{ beehive.bee_model }}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col-xxl-2"></div>

        <div class="col-xxl-4">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="mb-5">Videos</h4>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-secondary"
                       href="{% url 'beehive-video-list' beehive.pk %}">Show
                        all</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary"
                       href="{% url 'video-create' beehive.pk %}">
                        Upload video
                    </a>
                </div>
            </div>

            {% if beehive.has_validation_images %}

                {% if beehive.tasks %}

                    <div class="alert alert-primary">
                        <p>
                            Label the images for this beehive.
                        </p>
                        <ul>
                            {% for hive_task in beehive.hivetask_set.all %}
                                <li>
                                    {% if hive_task.finished or request.user in hive_task.task.annotators %}
                                        {{ hive_task.type }}
                                        (# {{ hive_task.task.pk }})
                                        <span class="ms-4">✅</span>
                                    {% else %}
                                        <a href="{% url 'annotate' hive_task.task.pk %}">
                                            {{ hive_task.type }}
                                            (# {{ hive_task.task.pk }})
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                {% endif %}

            {% else %}
                {% if not beehive.has_enough_hive_images %}
                    <div class="alert alert-primary">
                        Upload or stream videos of your beehive.
                        Those videos should be taken at different times
                        of the day (lighting, bee-load, etc. can vary
                        throughout the day).
                    </div>
                {% else %}
                    <a href="?representative-videos-uploaded"
                       class="btn btn-success mb-5">
                        I've uploaded representative videos
                    </a>
                {% endif %}
            {% endif %}

            <table class="table mt-4">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Upload at</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for video in videos %}
                    {% url 'video-detail' video.pk as video_detail_url %}
                    <tr>
                        <td>#{{ video.pk }}</td>
                        <td>{{ video.uploaded }}</td>
                        <td class="align-middle">
                            {% if video.processed %}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar"
                                         style="width: 100%;"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                        Processing
                                    </div>
                                </div>
                            {% endif %}
                            {% include 'base/show_button.html' with url=video_detail_url %}
                        </td>
                        <td>
                            {% url 'video-delete' video.pk as video_delete_url %}
                            {% include 'base/sm_delete_button.html' with url=video_delete_url %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    <div class="row mb-5 mt-3">
        <div class="col-6">
            <a href="{% url 'beehive-delete' beehive.pk %}"
               class="btn btn-danger">Delete hive</a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-6">
            <a href="{% url 'hive-sensor-device-list' %}?hive={{ beehive.pk }}"
               class="btn btn-primary">Show sensor devices</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xxl-10">
            {% url 'beehive-graph-data-api' beehive.pk as graph_data_url %}
            {% include 'main/sensor/sensor_multiline_chart.html' with url=graph_data_url %}
        </div>
    </div>


{% endblock %}
