{% extends 'base/base.html' %}

{% block content %}
    <script>
        let beehive_pk = null;

        function clickedImage(element, hive_pk) {
            if (element.classList.contains('clicked-img')) {
                element.classList.remove('clicked-img')
            } else {
                let images = document.getElementsByTagName('img')
                for (let image of images) {
                    image.classList.remove('clicked-img');
                }
                element.classList.add('clicked-img');
                beehive_pk = hive_pk;
            }
        }

        function done() {
            const xhr = new XMLHttpRequest();
            const url = "{% url 'similar-beehive-select' beehive.pk %}";
            console.log(url)
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    window.location = xhr.responseText;
                }
            };
            let image = document.getElementsByClassName('clicked-img')[0]
            let image_pk = image.getAttribute('id')
            xhr.send(image_pk);
        }
    </script>


    <div class="row">
        <div class="col-xxl-9">
            {% for group in images %}
                <div class="row">
                    {% for image in group %}
                        <div class="col-xxl-3">
                            <h6 class="text-center">
                                <a onclick="previewImage('{{ image.path.url }}', '{{ image.beehive.name }}')"
                                   class="btn btn-secondary btn-sm rounded-circle float-right mb-3"
                                >
                                    +
                                </a>
                            </h6>
                            <img src="{{ image.path.url }}"
                                 id="{{ image.beehive.pk }}"
                                 class="d-block w-100 rounded"
                                 alt="..."
                                 onclick="clickedImage(this)"
                            >
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-xxl-3 border-left">
            <button class="btn btn-primary mb-5" onclick="done()">Done</button>
            <p>
                Select the beehive which looks the most similar to your beehive
                in terms of color, shape, material, etc.
            </p>
            <p>
                Select image by clicking on it.
            </p>
            <p>
                Click on <span class="btn btn-secondary btn-sm rounded-circle mx-3">+</span> to enlarge image.
            </p>
        </div>
    </div>

    {% include 'main/management/img-preview-modal.html' %}
{% endblock %}