{% extends 'base/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ml-annotation' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                    Machine-Learning
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-annotation' %}">
                Annotation
                </a>
            </li>
            <li class="breadcrumb-item active">Pre-Annotation / Hive Images</li>
        </ol>
    </nav>

    <h3 class="my-5">Hive images shown for pre-annotation</h3>

    <div class="row mt-5">
        <div class="col-xxl-9">
            {% for group in images %}
                <div class="row">
                    {% for image in group %}
                        <div class="col-xxl-3">
                            <h6 class="text-center">
                                <a href="{% url 'beehive-detail' image.beehive.pk %}"
                                   class="mr-5"
                                >
                                    {{ image.image_set.video.beehive.name }}
                                </a>
                                <a onclick="previewImage('{{ image.path.url }}', '{{ image.image_set.video.beehive.name }}')"
                                   class="btn btn-secondary btn-sm rounded-circle"
                                >
                                    +
                                </a>
                            </h6>
                            <img src="{{ image.path.url }}"
                                 class="d-block w-100 rounded"
                                 alt="..."
                            >
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-xxl-3 border-left">

            <a class="btn btn-primary mb-5"
               href="{% url 'admin-hive-images-select' %}">
                Select beehive images
            </a>
            <p>
                Click on image to enlarge
            </p>
        </div>
    </div>

    {% include 'main/management/img-preview-modal.html' %}

{% endblock %}