{% extends 'base/base.html' %}

{% block content %}

    <script type="application/javascript">
        function clickedImage(element) {
            if (element.classList.contains('clicked-img')) {
                element.classList.remove('clicked-img')
            } else {
                element.classList.add('clicked-img')
            }
        }

        function done() {
            const xhr = new XMLHttpRequest();
            const url = "{% url 'admin-hive-images-select' %}";
            console.log(url)
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    window.location = xhr.responseText;
                }
            };
            let images = document.getElementsByClassName('clicked-img')
            let data = []
            for (let img of images) {
                data.push(parseInt(img.id))
            }
            xhr.send(JSON.stringify(data));
        }
    </script>

    {% url 'admin-hive-images-list' as image_list_url %}
    {% include 'base/back_button.html' with url=image_list_url %}

    <div class="row mb-5">

        <div class="col-xxl-9">
            {% for group in hive_images %}

                <div class="row">
                    {% for hive, images in group %}
                        <div class="col-3">
                            <div id="carouselExampleControls{{ hive.pk }}"
                                 class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    {% for image in images %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <h6 class="text-center">
                                                <a href="{% url 'beehive-detail' image.beehive.pk %}"
                                                   class="mr-5"
                                                >
                                                    {{ image.image_set.video.beehive.name }}
                                                </a>
                                                <a onclick="previewImage('{{ image.path.url }}', '{{ image.image_set.video.beehive.name }}')"
                                                   class="btn btn-secondary btn-sm rounded-circle"
                                                >
                                                    +
                                                </a>
                                            </h6>
                                            <img src="{% if forloop.first %}{{ image.path.url }}{% endif %}"
                                                 class="d-block w-100 rounded {% if image.selected %}clicked-img{% endif %}"
                                                 alt="..."
                                                 onclick="clickedImage(this)"
                                                 id="{{ image.pk }}"
                                            >
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev"
                                   href="#carouselExampleControls{{ hive.pk }}"
                                   role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"
                          aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next"
                                   href="#carouselExampleControls{{ hive.pk }}"
                                   role="button" data-slide="next">
                    <span class="carousel-control-next-icon"
                          aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}

        </div>

        <div class="col-xxl-3 border-left">
            <button class="btn btn-primary mb-5" onclick="done()">Done</button>
            <p>
                Select images of beehives that are presented to the
                beekeepers when they add a new hive to choose the most
                similar one.

            </p>
            <p>
                Select image by clicking on it.
            </p>
        </div>

    </div>

    {% include 'main/management/img-preview-modal.html' %}

    <script>
        {% include 'main/util/asynchronously-load-image.html' %}

        let carousels = document.getElementsByClassName('carousel');

        for (let item of carousels) {
            item.addEventListener('slide.bs.carousel', function (event) {
                let img_elements = item.querySelectorAll('.carousel-item > img');
                let new_active_img = img_elements[event.to];
                if (new_active_img.getAttribute('src') === ''){
                    let img_id = new_active_img.getAttribute('id')
                    setImagePath(new_active_img, img_id);
                }
            })
        }
    </script>

{% endblock %}