{% extends 'base/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item active">Apiary overview</li>
        </ol>
    </nav>

    <h2 class="my-5">Apiary Overview</h2>

    <div class="row mb-5">
        <div class="col-xxl-12">
            <h4 class="mb-3">Apiaries</h4>
            {% include 'main/apiary/apiary_list_content.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-xxl-12">
            {% include 'main/video/video_list.html' %}
        </div>
    </div>

{% endblock %}
