{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item active">Environment</li>
        </ol>
    </nav>

    <h3 class="my-5">Environment</h3>

    <div class="row mb-5">
        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100" href="{% url 'sensor-type-list' %}">
                Sensors
            </a>
        </div>

        <div class="col-md-6"></div>
    </div>

{% endblock %}
