<div class="modal fade" id="exampleModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Modal</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="imageModal" src=""
                     class="d-block w-100 rounded"
                     alt="..."
                >
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(img_src, beehive) {
        let img_modal = document.getElementById('imageModal');
        img_modal.setAttribute('src', img_src);
        let modal_title = document.getElementById('modalTitle');
        modal_title.textContent = `Image for beehive ${beehive}`
        let modal = new bootstrap.Modal(document.getElementById('exampleModal'))
        modal.show();
    }
</script>