{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Admin</li>
        </ol>
    </nav>

    <div class="row my-5">
        <div class="col-6">
            <h3>Admin</h3>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100"
               href="{% url 'admin:index' %}">
                {% trans 'Users' %}
            </a>
        </div>

        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100"
               href="{% url 'apiary-overview' %}">
                {% trans 'Apiary overview' %}
            </a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100"
               href="{% url 'ml-overview' %}">
                {% trans 'Machine-Learning' %}
            </a>
        </div>

        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100"
               href="{% url 'environment-overview' %}">
                {% trans 'Environment' %}
            </a>
        </div>
    </div>


    <div class="row mb-5">
        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100"
               href="{% url 'add-ftp-user' %}">
                {% trans 'Add new FTP user' %}
            </a>
        </div>

        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100"
               href="{% url 'change-ftp-admin-password' %}">
                {% trans 'Change FTP admin password' %}
            </a>
        </div>
    </div>


{% endblock %}