{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    {#    {% include 'base/back_button.html' with url=back_url %}#}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ back_url }}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item">
                {% if frame.hive %}
                    <a href="{% url 'apiary-detail' frame.hive.apiary.pk %}">
                        {{ frame.hive.apiary.name }}
                    </a>
                {% else %}
                    Unknown apiary
                {% endif %}
            </li>
            <li class="breadcrumb-item">Hives</li>
            <li class="breadcrumb-item">
                {% if frame.hive %}
                    <a href="{% url 'beehive-detail' frame.hive.pk %}">
                        {{ frame.hive.name }}
                    </a>
                {% else %}
                    Unknown hive
                {% endif %}
            </li>
            <li class="breadcrumb-item">
                <a href="{{ back_url }}">
                    Images
                </a>
            </li>
            <li class="breadcrumb-item active">{{ frame.name }}</li>
        </ol>
    </nav>

    <div class="row mt-5">
        <div class="col-xxl-3">
            <h2 class="mb-5">{% trans 'Image' %} #{{ frame.pk }}</h2>
        </div>
        <div class="col-xxl-3">
            <a id="previous_image" class="btn btn-sm btn-primary">&laquo; Previous</a>
            <a id="next_image" class="btn btn-sm btn-primary">Next &raquo;</a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-xxl-6">
            <div class="d-flex justify-content-between mb-3">
                <h4>{% trans 'Metadata' %}</h4>
            </div>

            <table class="table">
                <tbody id="image_data">
                <tr>
                    <th scope="row">{% trans 'Path' %}:</th>
                    <td id="image_path" class="line-break-anywhere"></td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Image' %}:</th>
                    <td>
                        <canvas id="frame-detail-image"
                                class="img-fluid rounded">
                        </canvas>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Width' %}:</th>
                    <td id="image_width"></td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Height' %}:</th>
                    <td id="image_height"></td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Status' %}:</th>
                    <td id="image_status"></td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Type' %}:</th>
                    <td id="image_type"></td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Video' %}:</th>
                    <td id="image_video"></td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Frame' %}:</th>
                    <td id="image_frame"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xxl-1"></div>

        <div class="col-xxl-4">
            <h4 class="mb-3">{% trans 'Annotations' %}</h4>

            <div class="row mb-3">
                <div class="col-6">
                    <button class="btn btn-sm btn-warning mb-3 w-100"
                            onclick="drawGoldAnnotations()">Gold
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-sm btn-danger mb-3 w-100"
                            onclick="clearAnnotations()">Clear
                    </button>
                </div>
            </div>

            <h5 class="mb-2">Models</h5>
            <div id="model_list" class="list-group mb-5"></div>

            {% if request.user.is_staff %}
                <h5 class="mb-2">Users</h5>
                <div id="user_list" class="list-group"></div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xxl-12">
            <h4 class="mb-4">{% trans 'Cropped images' %}</h4>
            <p id="croppedImages"></p>
        </div>
    </div>

    <script>
        function displayCroppedImages(data) {
            let croppedImagesElement = document.getElementById("croppedImages")

            for (let image of data.images) {
                let imgElement = document.createElement('img')
                imgElement.setAttribute('src', image.path)
                imgElement.classList.add('photo_cropped')

                let link = document.createElement('a')
                link.setAttribute('href', `/frames/${image.pk}/`)
                link.append(imgElement)
                croppedImagesElement.append(link)
            }
        }

        fetch('/api/images/?image={{ frame.pk }}')
            .then(x => x.json())
            .then(y => displayCroppedImages(y));

    </script>

    {% include 'main/annotation/draw_annotations.html' %}

    <script>
        {% url 'frame-detail-api' frame.pk as frame_detail_url %}
        let frame_detail_url = '{{ frame_detail_url }}'
        let canvas_id = 'frame-detail-image'
        let frame_url = null;
        {% url 'gold-annotations-list-api' frame.pk as gold_annotations_url %}
        let gold_annotations_url = '{{ gold_annotations_url }}'

        function displayImageData(data){
            let url_link = `<a href="${data.url}">${data.path}</a>`
            document.getElementById('image_path').insertAdjacentHTML('beforeend', url_link)

            let canvas_element = document.getElementById(canvas_id)
            canvas_element.setAttribute('width', data.width)
            canvas_element.setAttribute('height', data.height)

            document.getElementById('image_width').innerText = data.width
            document.getElementById('image_height').innerText = data.height
            document.getElementById('image_status').innerText = data.status
            document.getElementById('image_type').innerText = data.type

            let video_link = `<a href="/videos/${data.video}">#${data.video}</a>`
            document.getElementById('image_video').insertAdjacentHTML('beforeend', video_link)

            document.getElementById('image_frame').innerText = data.frame

            frame_url = data.url

            canvas_element.setAttribute('src', data.url)
            canvas_element.style.backgroundImage = 'url(' + data.url + ')';
            canvas_element.style.backgroundSize = 'cover';
        }

        function fetchImageData() {
            fetch('/api/images/{{ frame.pk }}/')
                .then(x => x.json())
                .then(y => displayImageData(y))
        }

        fetchImageData()

        function drawUserAnnotations(user_annotations_url) {
            getAndDrawAnnotations(user_annotations_url, canvas_id, frame_url);
        }

        function drawModelAnnotations(model_annotations_url) {
            getAndDrawAnnotations(model_annotations_url, canvas_id, frame_url);
        }

        function drawGoldAnnotations() {
            getAndDrawAnnotations(gold_annotations_url, canvas_id, frame_url);
        }

        function clearAnnotations() {
            drawAnnotations([], canvas_id, frame_url);
        }

    </script>

    <script>
        function displayModels(data) {
            let model_list = document.getElementById('model_list')

            for (let model of data.models) {
                let model_element_id = `model_${model.pk}`

                let modelElement = `
                    <a id=${model_element_id} class="list-group-item list-group-item-action">
                        <span class="me-5">#${model.pk}</span>
                        <span class="me-5">${model.name}</span>
                    </a>
                `
                model_list.insertAdjacentHTML('beforeend', modelElement)

                document.getElementById(model_element_id).addEventListener('click', () => {
                    drawModelAnnotations(`/en/api/modelAnnotations/${model.pk}/{{ frame.pk }}/`)
                })
            }
        }

        function fetchModels() {
            fetch('/api/images/{{ frame.pk }}/models/')
                .then(x => x.json())
                .then(y => displayModels(y))
        }

        fetchModels()
    </script>

    <script>
        function displayUsers(data) {
            let user_list = document.getElementById('user_list')

            for (let user of data.users) {
                let user_element_id = `model_${user.pk}`

                let user_element = `
                    <a id=${user_element_id} class="list-group-item list-group-item-action">
                        <span class="me-5">#${user.pk}</span>
                        <span class="me-5">${user.name}</span>
                    </a>
                `
                user_list.insertAdjacentHTML('beforeend', user_element)

                document.getElementById(user_element_id).addEventListener('click', () => {
                    drawUserAnnotations(`/en/api/userAnnotations/${user.pk}/{{ frame.pk }}/`)
                })
            }
        }

        function fetchUsers() {
            fetch('/api/images/{{ frame.pk }}/annotators/')
                .then(x => x.json())
                .then(y => displayUsers(y))
        }

        fetchUsers()
    </script>

    <script>
        function setNavigation(data){

            let previous_image_el = document.getElementById('previous_image')
            let next_image_el = document.getElementById('next_image')

            if (data.previous_image){
                previous_image_el.setAttribute('href', `/en/frames/${data.previous_image}/`)
            }
            else {
                previous_image_el.classList.add('disabled')
            }

            if (data.next_image){
                next_image_el.setAttribute('href', `/en/frames/${data.next_image}/`)
            }
            else {
                next_image_el.classList.add('disabled')
            }
        }

        function  fetchNavigation(){
            fetch('/api/images/{{ frame.pk }}/navigation/')
                .then(x => x.json())
                .then(y => setNavigation(y))
        }

        fetchNavigation()
    </script>

{% endblock %}
