{% extends 'base/base.html' %}

{% block content %}
    {% url 'video-detail' pk=video.pk as video_url %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ video_url }}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'apiary-list' %}">Apiaries</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'apiary-detail' video.beehive.apiary.pk %}">
                    {{ video.beehive.apiary.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">Hives</li>
            <li class="breadcrumb-item">
                <a href="{% url 'beehive-detail' video.beehive.pk %}">
                    {{ video.beehive.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url 'beehive-video-list' video.beehive.pk %}">
                    Videos
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a class="{{ video_url }}">
                    {{ video.pk }}
                </a>
            </li>
            <li class="breadcrumb-item active">
                Images
            </li>
        </ol>
    </nav>

    <h2 class="my-5">
        Images of video #
        <a href="{% url 'video-detail' video.pk %}">
            {{ video.pk }}
        </a>
    </h2>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?video={{ video.pk }}&page={{ page_obj.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link"
                                             href="#">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?video={{ video.pk }}&page={{ page_obj.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    {% for frame_group in frame_groups %}

        <div class="row">
            {% for frame, accuracy, color in frame_group %}
                <div class="col-md-3 gy-4">
                    <a href="{% url 'frame-detail' frame.pk %}">
                        <img src="{{ frame.path.url }}"
                             class="img-fluid rounded">
                    </a>

{#                    <table class="table table-responsive">#}
{#                        <tr>#}
{#                            <th>Model accuracy:</th>#}
{#                            <td class="{{ color }}">{{ accuracy }}</td>#}
{#                        </tr>#}
{#                    </table>#}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
