.line-break-anywhere {
    line-break: anywhere;
}

.clicked-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px solid #2196F3;
    opacity: 80%;
}

a {
    text-decoration: none;
}

.scrollbar {
    max-height: 400px;
    min-height: 400px;
    overflow-y: scroll;
}

:root {
    --main-zero-color: #512200;
    --main-one-color: #806e5e;
    --main-two-color: #ae8b72;
    --main-three-color: #d97000;
    --main-four-color: #ff8200;
    --main-five-color: #ff9600;
    --main-six-color: #ffb400;
}

body {
    font-family: InkstonText, sans-serif;
}

.btn {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
    font-variant: small-caps;
}

.btn-primary {
    background: linear-gradient(90deg, var(--main-four-color) 28%, var(--main-five-color) 93%);
    border-color: var(--main-five-color);
}

.btn-secondary {
    background: linear-gradient(90deg, var(--main-one-color) 28%, var(--main-two-color) 93%);;
    border-radius: 13px;
    font-size: smaller;
    padding: .25rem .5rem;
    border-color: var(--main-one-color);
}

.btn-primary:hover {
    background: linear-gradient(90deg, var(--main-five-color) 28%, var(--main-six-color) 93%);
    border-color: var(--main-five-color);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.12);
}

.card {
	border: 1px solid var(--main-three-color);
	border-radius: .25rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.01);
}

h1, h2, .fs-1, .fs-2 {
    color: var(--main-two-color);
    font-variant: small-caps;
}

h3, h4, .fs-3, .fs-4 {
    color: var(--main-three-color);
    font-variant: small-caps;
}

.card-header {
    color: var(--main-three-color);
    font-variant: small-caps;
    font-size: larger;
}

td, th {
    border-style: dashed;
}

.navbar {
    background: linear-gradient(90deg, var(--main-two-color) 2%, var(--main-four-color) 53%, var(--main-two-color) 100%);
}

.badge {
    background-color: rgb(219, 219, 219);
    font-size: small;
}

.page-link {
    color: var(--main-three-color)
}

a > svg {
    color: var(--main-two-color);
}

.breadcrumb-item {
    color: var(--main-one-color) !important;
}

.nav-link, .breadcrumb-item > a {
    color: var(--main-zero-color)
}


.accordion-button:not(.collapsed) {
    background-color: white;
}

.badge {
    font-variant: small-caps;
}

.form-check-input:checked {
    background-color: var(--main-four-color);
    border-color: var(--main-four-color);
}


.photo {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    text-align: center;
    background-color: #ccc;
    position: relative;
    height: 150px;
    line-height: 180px;
    font-size: 112px;
}

.photo_plant_detail {
    display: block;
    width: 80%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    background-color: #ccc;
    position: relative;
    height: 250px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.photo_cropped {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.photo_image_list {
    float: left;
    width:  300px;
    height: 200px;
    object-fit: cover;
}

.plant_icon {
    width: 10px;
    height: 10px;
    background-color: var(--main-six-color);
}

.plant-title {
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(232,232,232,1) 50%, rgba(248,248,248,1) 100%);
}

.plant-match-color-5 {
    background-color: rgb(255, 201, 201);
}

.plant-match-color-4 {
    background-color: rgb(255, 235, 212);
}

.plant-match-color-3 {
    background-color: rgb(255, 252, 186);
}

.plant-match-color-2 {
    background-color: rgb(242, 255, 235);
}

.plant-match-color-0, .plant-match-color-1 {
    background-color: rgb(250, 255, 255);
}