/*https://bl.ocks.org/alandunning/cfb7dcd7951826b9eacd54f0647f48d3*/

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 3px;
  mix-blend-mode: multiply;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke-width: 5px;
}

.hover-line {
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.tick line {
  stroke-width: 1px;
}
