{% load i18n %}
<div id="image_col">
    <img id="image"
         src="{% url 'view_image' selected_image.id %}"
         alt="Picture {{ selected_image.name }} not found!"
         data-imageid="{{ selected_image.id }}"></br>
    <canvas id="image_canvas" class="hide-me">Unable to load
        canvas for picture {{ selected_image.name }}!
    </canvas>
    <div id="boundingBoxes"></div>
</div>

<div class="hide-me">
    <p>
        <u>Annotations:</u>
    </p>
    <div id="existing_annotations">
    </div>
    <div id="no_annotations"
         class="feedback hide-me alert alert-warning">{% trans 'No annotations found.' %}</div>
    <div id="annotations_loading"
         class="feedback hide-me alert alert-info">{% trans 'Loading ...' %}</div>
</div>
