{% extends 'base/base.html' %}

{% block content %}
    <span style='font-size:100px;'>&#128079;</span>

    <p class="display-6 mb-5">
        You have checked the model accuracy of {{ image_count }} images!
    </p>
    <div class="row">
        <div class="col-4 mb-5">
            <p>Number of frames with:</p>
            <table class="table table-responsive">
                <tr>
                    <th>high accuracy</th>
                    <td>{{ high }}</td>
                </tr>
                <tr>
                    <th>medium accuracy</th>
                    <td>{{ medium }}</td>
                </tr>
                <tr>
                    <th>low accuracy</th>
                    <td>{{ low }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p class="lead">{{ low_message }}</p>

            <p class="lead">Keep posting!</p>

            <a href="{% url 'frame-list' %}?video={{ video.pk }}" class="btn btn-primary float-right">Back to image list</a>
        </div>
    </div>



{% endblock %}