{% extends 'base/base.html' %}
{% load l10n %}
{% load static %}

{% block content %}

    {% url 'video-detail' image.image_set.video.pk as video_detail_url %}
    {% include 'base/back_button.html' with url=video_detail_url %}

    <div class="row">
        <div class="col-md-8">
            <canvas id="imageCanvas" width="{{ image.width }}"
                    height="{{ image.height }}" class="img-fluid">
        </div>
        <div class="col-md-4">
            <table class="table table-responsive">
                <tr>
                    <th>Video:</th>
                    <td>{{ image.image_set.video.path.name }}</td>
                </tr>
                {% if request.user.is_staff %}
                <tr>
                    <th>Model:</th>
                    <td>
                        {{ model.path }}
                        {% url 'aimodel-detail' model.pk as model_detail_url %}
                        {% include 'base/show_button.html' with url=model_detail_url %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>Image:</th>
                    <td>{{ image.filename }}</td>
                </tr>
            </table>

            <form method="post">{% csrf_token %}
                <table class="table table-responsive">
                    {{ form.as_table }}
                </table>
                <input type="submit" class="btn btn-primary" value="Next"/>
            </form>
        </div>
    </div>

    {% include 'main/annotation/draw_annotations.html' %}

    <script>
        let canvas_id = 'imageCanvas'
        let frame_url = '{{ image.path.url }}'
        {% url 'frame-model-annotations-list-api' model.pk image.pk as model_annotations_url %}
        let model_annotations_url = '{{ model_annotations_url }}'

        getAndDrawAnnotations(model_annotations_url, canvas_id, frame_url);
    </script>
{% endblock %}