{% load static %}
{% load i18n %}
<div class="card">
    <div class="card-body">
        <div class="row mb-4">

            <div class="col-md-6">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <button type="submit"
                                class="annotate_button btn btn-primary btn-block"
                                id="save_button">
                            {% translate 'Save label' %} (v)
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit"
                                class="annotate_button btn btn-primary btn-block"
                                id="reset_button">
                            {% translate 'Reset label' %} (esc)
                        </button>
                    </div>
                </div>
            </div>

                <div class="col-md-6">
                    <a href="{% url 'annotate' task.pk %}?finished={{ selected_image.pk }}" class="btn btn-success">
                        {% translate 'Image finished labeling' %}
                    </a>
                </div>
            </div>


        <form id="annotation_form"
              action="{% url 'annotate' selected_image.id %}"
              enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="hidden" name="image_id"
                   value="{{ selected_image.id }}">
            <div class="mb-3">
                <select id="annotation_type_id"
                        name="selected_annotation_type"
                        class="form-select">
                    <option value="-1">{% trans 'Choose label type' %}</option>
                    {% for annotation_type in annotation_types %}
                        <option name="{{ annotation_type.name }}"
                                value="{{ annotation_type.id }}"
                                id="annotation_type_{{ annotation_type.id }}"
                                data-vector-type="{{ annotation_type.vector_type }}"
                                data-node-count="{{ annotation_type.node_count }}"
                                {% if task.annotation_type != annotation_type %}
                                disabled
                                {% endif %}
                        >
                            {{ annotation_type.name }} ({{ annotation_type.id }})
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-check mb-3">
                <input type='checkbox'
                       class="form-check-input"
                       id='draw_annotations'
                       name="draw_annotations"
                       checked>
                <label for='draw_annotations' class="form-check-label">
                    {% translate 'Show all labels' %}
                </label>
            </div>

            <div class="row" id="coordinate_table"></div>

            <br>

            <div class="row ">
                <input type="hidden" name="annotate">
            </div>
        </form>
    </div>
</div>