{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ml-annotation' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                    Machine-Learning
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-annotation' %}">
                Annotation
                </a>
            </li>
            <li class="breadcrumb-item active">Annotation Types</li>
        </ol>
    </nav>

    <div class="row mt-5 mb-3">
        <div class="col-6 d-flex justify-content-between">
            <h3>Annotation types</h3>
            <div>
                <a class="btn btn-primary float-right"
                   href="{% url 'annotation-type-create' %}">
                    Create annotation type
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for annotation_type in annotation_types %}
                    <tr>
                        <td>{{ annotation_type.pk }}</td>
                        <td>{{ annotation_type.name }}</td>
                        <td>
                            {% url 'annotation-type-update' annotation_type.pk as annotation_type_update_url %}
                            {% include 'base/sm_edit_button.html' with url=annotation_type_update_url %}
                        </td>
                        <td>
                            {% url 'annotation-type-delete' annotation_type.pk as annotation_type_delete_url %}
                            {% include 'base/sm_delete_button.html' with url=annotation_type_delete_url %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
