{% load i18n %}
<div id="feedback_annotation_created"
     class="js_feedback hide-me alert alert-success">
    {% trans 'The label was successfully created.' %}
</div>
<div id="feedback_annotation_deleted"
     class="js_feedback hide-me alert alert-success">
    {% trans 'The label was successfully deleted.' %}
</div>
<div id="feedback_annotation_exists"
     class="js_feedback hide-me alert alert-info">
    {% trans 'A similar label exists already.' %}
</div>
<div id="feedback_annotation_exists_deleted"
     class="js_feedback hide-me alert alert-warning">
    {% trans 'A similar label exists already. The edited annotation was deleted.' %}
</div>
<div id="feedback_annotation_invalid"
     class="js_feedback hide-me alert alert-warning">
    {% trans 'The label is invalid.' %}
</div>
<div id="feedback_annotation_type_missing"
     class="js_feedback hide-me alert alert-warning">
    {% trans 'You have to choose a type for the label.' %}
</div>
<div id="feedback_connection_error"
     class="js_feedback hide-me alert alert-danger">
    {% trans 'There was an unhandled error during the connection.' %}
</div>
<div id="feedback_save_successful"
     class="js_feedback hide-me alert alert-success">
    {% trans 'The label was successfully saved.' %}
</div>
<div id="feedback_annotation_updated"
     class="js_feedback hide-me alert alert-success">
    {% trans 'The label was successfully updated.' %}
</div>
<div id="feedback_image_set_empty"
     class="js_feedback hide-me alert alert-danger">
    {% trans 'The image set is empty with that filter applied.' %}
</div>
<div id="feedback_multiline_information"
     class="js_feedback hide-me alert alert-info">
    {% trans 'Press ESC to end the line.' %}
</div>