{% extends 'main/annotation/base.html' %}
{% load i18n %}
{% load static %}

{% block additional_annotation_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/css/bounding_boxes.css' %}"/>
{% endblock additional_annotation_css %}

{% block additional_annotation_js %}
    <script type="text/javascript"
            src="{% static 'main/js/boundingboxes.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/js/canvas.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/js/annotations.js' %}"></script>
{% endblock additional_annotation_js %}

{% block bodyblock %}

    <h2 class="mb-4">{% translate 'Label image' %}
        <a href="{% url 'frame-detail' selected_image.pk %}">
            #{{ selected_image.pk }}
        </a>
    </h2>

    <div class="row">
        <div class="col-12">
            <div id="edit_active" class="hide-me alert alert-warning">
                <p>
                    {% trans 'You are currently editing a label.' %}
                </p>
                <button id="cancel_edit_button"
                        class="btn btn-danger">{% trans 'Cancel' %}</button>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-8">

            <div class="row">
                <div class="col">
                    {% include 'main/annotation/annotation_area.html' %}
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-12">
                    {% include 'main/annotation/annotation_alerts.html' %}
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-12">
                    {% include 'main/annotation/annotation_control_panel.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p>
                                {{ task.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <span id="image_id" class="hide-me">{{ selected_image.id }}</span>
            <span id="image_url" class="hide-me">{{ selected_image.path.url }}</span>
            <span id="image_set_id"
                  class="hide-me">{{ selected_image.image_set.id }}</span>
        </div>
    </div>

{% endblock %}
