{% extends 'base/imagetagger_base.html' %}
{% load static %}

{% block taggerimports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/imgareaselect-default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/cursor.css' %}" />
    {% block additional_annotation_css %}
    {% endblock additional_annotation_css %}
{% endblock %}

{% block additional_js %}
  <script type="text/javascript" src="{% static 'scripts/jquery.imgareaselect.pack.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/jcanvas.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/jcanvas-handles.min.js' %}"></script>
  {% block additional_annotation_js %}
  {% endblock additional_annotation_js %}
{% endblock additional_js %}

{% block selectorblock %}
    <div id="crosshair-h" class="hair"></div>
    <div id="crosshair-v" class="hair"></div>
    <span id="mousepos" >(0,0)</span>
{% endblock %}
{% block navblock %}
{% endblock %}
