{% extends 'base/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <form method="post">{% csrf_token %}
                <table class="table table-responsive mb-3">
                    {{ aimodel_form.as_table }}
                </table>
                <input type="submit" value="Upload model"
                       class="btn btn-primary float-right">
            </form>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
