{% extends 'base/base.html' %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'aimodel-list' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                Machine-Learning
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'aimodel-list' %}">
                Models
                </a>
            </li>
            <li class="breadcrumb-item active">{{ aimodel.pk }}</li>
        </ol>
    </nav>

    <h3 class="my-5">Model #{{ aimodel.pk }}</h3>

    <div class="row">
        <div class="col-xxl-6">
            <h4 class="mb-3">Metadata</h4>

            <table class="table table-hover table-responsive">
                <tr>
                    <th>Description:</th>
                    <td>{{ aimodel.description }}</td>
                </tr>
                <tr>
                    <th>Blob path:</th>
                    <td>{{ aimodel.path }}</td>
                </tr>
                <tr>
                    <th>Annotation type:</th>
                    <td>{{ aimodel.annotation_type.name }}</td>
                </tr>
                <tr>
                    <th>Path on Google Drive:</th>
                    <td>{{ aimodel.google_drive_path }}</td>
                </tr>
                <tr>
                    <th>Training mode:</th>
                    <td>{{ aimodel.training_mode }}</td>
                </tr>
                <tr>
                    <th>Created on:</th>
                    <td>{{ aimodel.time|default:"unknown" }}</td>
                </tr>
            </table>
        </div>
        <div class="col-xxl-1"></div>
        <div class="col-xxl-5">
            <h4 class="mb-3">Hive validations</h4>
            <table class="table table-responsive table-hover">
               <thead>
               <tr>
                   <th>Apiary</th>
                   <th>Hive</th>
                   <th></th>
               </tr>
               </thead>
                {% for hive in hives %}
                    <tr>
                        <td>{{ hive.apiary.name }}</td>
                        <td>{{ hive.name }}</td>
                        <td>
                            {% url 'validation-detail' aimodel.pk hive.pk as aimodel_hive_detail_url %}
                            {% include 'base/show_button.html' with url=aimodel_hive_detail_url %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}