{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                Machine-Learning
                </a>
            </li>
            <li class="breadcrumb-item active">AI Models</li>
        </ol>
    </nav>

    <h3 class="my-5">AI Models</h3>

    <div class="row">
        <div class="col-6">
{#            <a class="btn btn-primary" href="{% url 'aimodel-upload' %}">#}
{#                {% trans 'Upload AI model' %}#}
{#            </a>#}
{##}
{#            <span class="mx-5">OR</span>#}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Blob path</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for aimodel in aimodels %}
                    <tr>
                        <td>{{ aimodel.pk }}</td>
                        <td>{{ aimodel.description }}</td>
                        <td>{{ aimodel.path }}</td>
                        <td>
                            {% url 'aimodel-detail' aimodel.pk as aimodel_detail_url %}
                            {% include 'base/show_button.html' with url=aimodel_detail_url %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
