{% extends 'base/base.html' %}

{% load colorize %}

{% block content %}
    {% url 'aimodel-train' as train_url %}
    {% include 'base/back_button.html' with url=train_url %}

    <div class="row">
        <div class="col-xxl-8">
            <div class="row">
                <div class="col-xxl-6">
                    <h3 class="mb-5">Model validations for
                        hive {{ hive.name }}</h3>
                </div>
                <div class="col-xxl-6">
                    <a class="btn btn-primary float-right">Train new model</a>
                </div>
            </div>

            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>AI model</th>
                    <th>F1 measure</th>
                    <th></th>
                </tr>
                </thead>
                {% for validation in validations %}
                    <tr>
                        <td>{{ validation.model.description }}</td>
                        <td class="{{ validation.f1|colorize }}">{{ validation.f1|floatformat:3 }}</td>
                        <td>
                            {% url 'validation-detail' validation.model.pk hive.pk as aimodel_hive_detail_url %}
                            {% include 'base/show_button.html' with url=aimodel_hive_detail_url %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>



{% endblock %}