{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'ml-overview' %}">Machine-Learning</a>
            </li>
            <li class="breadcrumb-item active">Annotation</li>
        </ol>
    </nav>

    <h3 class="my-5">Annotation</h3>

    <div class="row mb-5">
        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100" href="{% url 'management-task-list' %}">
                Tasks
            </a>
        </div>


        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100" href="{% url 'annotation-type-list' %}">
                Annotation types
            </a>
        </div>
    </div>

{% endblock %}
