{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                Machine-Learning
                </a>
            </li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>

    <div class="row mt-5 mb-3">
        <div class="col-6">
            <h3>Machine-Learning Data</h3>
        </div>
    </div>

    <div class="alert alert-secondary mb-5" role="alert">
        Data can be downloaded <a href="{% url 'download-list' %}">here</a>
    </div>

    <div class="row gy-3">
        <div class="col-xl-8 order-sm-5 order-xl-1">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">

                        <div class="row gy-3">
                            <div class="col-xl-3 align-self-center">
                                <div class="h5 d-flex align-items-center">
                                    Images
                                    <span class="badge bg-dark ml-2">{{ image_count }} / {{ total_image_count }}</span>
                                </div>
                            </div>

                            <div class="col-xl-6 d-flex justify-content-xl-center">
                                {% include 'base/pagination.html' %}
                            </div>
                        </div>

                    </div>

                    <div class="card-body">

                        <table id="sessions-table"
                               class="table table-responsive table-hover table-sm">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Hive</th>
                            </tr>

                            </thead>
                            <tbody>
                            {% for image in page_obj %}
                                <tr>
                                    <td>{{ image.pk }}</td>
                                    <td>
                                        <a
                                                {% if request.user.is_authenticated %}
                                                href="{% url 'frame-detail' image.pk %}"
                                                {% endif %}
                                        >
                                            {{ image.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ image.hive }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-xl-4 order-sm-1 order-xl-5">
            <div class="card">
                <div class="card-header">
                    <h6>Filter</h6>
                </div>

                <div class="card-body">
                    <form action="" method="get">
                        <table class="table">
                            {{ form.as_table }}
                        </table>

                        <input class="btn btn-primary btn-sm " type="submit"
                               value="Filter"/>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
