{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'ml-overview' %}">Machine-Learning</a>
            </li>
            <li class="breadcrumb-item active">Model-Serving-App</li>
        </ol>
    </nav>

    <h2 class="my-5">Model-Serving-App</h2>

    {% include 'main/video/video_list_section.html' %}

{% endblock %}
