{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'management_overview' %}">Admin</a>
            </li>
            <li class="breadcrumb-item active">Machine-Learning</li>
        </ol>
    </nav>

    <h3 class="my-5">Machine-Learning</h3>

    <div class="row mb-5">
        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100" href="{% url 'aimodel-list' %}">
                Models
            </a>
        </div>


        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100" href="{% url 'ml-validations' %}">
                Validations
            </a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100" href="{% url 'ml-data' %}">
                Data
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100" href="{% url 'ml-annotation' %}">
                Annotation
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-light btn-lg w-100" href="{% url 'ml-model-serving-app' %}">
                Model-Serving-App
            </a>
        </div>
        <div class="col-md-6">
        </div>
    </div>

{% endblock %}
