{% extends 'base/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                    &lt;&lt;
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'management_overview' %}">
                    Admin
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'ml-overview' %}">
                Machine-Learning
                </a>
            </li>
            <li class="breadcrumb-item active">Hive Validations</li>
        </ol>
    </nav>

    <h3 class="my-5">Hives</h3>

    <table class="table">

        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Apiary</th>
            <th scope="col">Name</th>
            <th>Retrain necessary</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        {% for hive in hives %}
            <tr>
                <td>#{{ hive.pk }}</td>
                <td>{{ hive.apiary.name }}</td>
                <td>{{ hive.name }}</td>
                <td {% if hive.retrain %}class="text-danger"{% endif %}>
                    {{ hive.retrain }}
                </td>
                <td>
                    {% url 'hive-validation-list' hive.pk as hive_detail_url %}
                    {% include 'base/show_button.html' with url=hive_detail_url %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
