{% extends 'base/base.html' %}

{% load colorize %}

{% block content %}
    {% include 'base/back_button.html' with url=back_url %}

    <h3 class="mb-5">Validation</h3>

    <div class="row mb-5">
        <div class="col-4">
            <table class="table table-responsive table-hover">
                <tr>
                    <th>Model:</th>
                    <td>
                        <a href="{% url 'aimodel-detail' validations.first.model.pk %}">
                            {{ validations.first.model.description }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Apiary:</th>
                    <td>
                        <a href="{% url 'apiary-detail' validations.first.hive.apiary.pk %}">
                            {{ validations.first.hive.apiary.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Hive:</th>
                    <td>
                        <a href="{% url 'beehive-detail' validations.first.hive.pk %}">
                            {{ validations.first.hive.name }}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p class="mb-3">Validation frames by scene</p>
            <div class="list-group" id="list-tab" role="tablist">
                {% for validation in validations %}
                    <a class="list-group-item list-group-item-action {% if forloop.first %}active{% endif %}"
                       id="list-{{ validation.scene }}-list"
                       data-toggle="list"
                       href="#list-{{ validation.scene }}"
                       role="tab"
                       aria-controls="{{ validation.scene }}">
                        {{ validation.scene }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                {% for validation in validations %}
                    <div class="tab-pane fade show {% if forloop.first %}active{% endif %}"
                         id="list-{{ validation.scene }}"
                         role="tabpanel"
                         aria-labelledby="list-{{ validation.scene }}-list">
                        <table class="table table-hover table-responsive">
                            <tr>
                                <th>Created:</th>
                                <td>{{ validation.created }}</td>
                            </tr>
                            <tr>
                                <th>Updated:</th>
                                <td>{{ validation.updated }}</td>
                            </tr>
                            <tr>
                                <th>Ground truth:</th>
                                <td>{{ validation.ground_truth }}</td>
                            </tr>
                            <tr>
                                <th>Predicted:</th>
                                <td>{{ validation.predicted }}</td>
                            </tr>
                            <tr>
                                <th>True positive:</th>
                                <td>{{ validation.tp }}</td>
                            </tr>
                            <tr>
                                <th>False positive:</th>
                                <td>{{ validation.fp }}</td>
                            </tr>
                            <tr>
                                <th>False negative:</th>
                                <td>{{ validation.fn }}</td>
                            </tr>

                            <tr class="{{ validation.precision|colorize }}">
                                <th>Precision:</th>
                                <td>{{ validation.precision|floatformat:3 }}</td>
                            </tr>
                            <tr class="{{ validation.recall|colorize }}">
                                <th>Recall:</th>
                                <td>{{ validation.recall|floatformat:3 }}</td>
                            </tr>
                            <tr class="{{ validation.f1|colorize }}">
                                <th>F1:</th>
                                <td>{{ validation.f1|floatformat:3 }}</td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}